<!--------------------------------------------------EDIT SECTION---------------------------------------------->
<!-----------------------------------EDIT EXPENSE PAYMENT TYPE-------------------------->
<script type="text/ng-template" id="editExpensePayment">
  <div class="ngdialog-message">
    <h3>Edit Expense Payment</h3>
    <form ng-submit=closeThisDialog(editData) >
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input ng-model="editData.expenseType" placeholder="Expense Type*" class="form-control" type="text" required/>
        <br>
        <input ng-model="editData.description" class="form-control"  placeholder="Description*" type="text" required/><br>
        <input type="text" ng-calendar format="%d-%m-%Y"  ng-model="editData.date"  placeholder="Date" class="form-control" required><br>

        <!--<input type="date"  max="9999-12-31" max="0001-01-01"  class="form-control"  ng-model="editData.date" ng-value="feeDate" required><br>-->
        <input type="number" class="form-control" ng-disabled="false" max="100000" min="1" ng-model="editData.amount" required><br>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">  <button type="submit" class="btn btn-success uppercase">Save Expense Payment</button></div>
      </div>



    </form>
    <div class="ngdialog-buttons">
    </div>
  </div>
</script>
<!-----------------------------------EDIT EXPENSE PAYMENT-------------------------->
<!---------------------------------------------------------------------EDIT SECTION---------------------------------------------->




<!---------------------------------------------------------------------DELETE SECTION---------------------------------------------->
<!-----------------------------------DELETE EXPENSE PAYMENT-------------------------->
<script type="text/ng-template" id="deleteExpensePayment">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<!-----------------------------------DELETE EXPENSE PAYMENT-------------------------->



 
<!---------------------------------------Main Block---------------------------->
<div class="container">
  <div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="portlet light" style="height: 450px">
        <div class="portlet-title">
          <div class="caption caption-md col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="uppercase pull-left">EXPENSE</span>
            <span class="caption-subject uppercase col-sm-6"></span>
            <span class="btn btn-primary pull-right" ng-show="Admin" <a ui-sref="addexpense"> Add Expense</a></span>
          </div>

        </div>
 
        <div class="row list-separated">
          
        
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-show="error"  class="alert alert-danger">{{response}}</div>
                    <div ng-show="success" class="alert alert-success">{{response}}</div>
                </div>
                          
                           
                            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">    
               
                 <input  type="text" class="form-control" placeholder="Expense Type" ng-model="search1.expenseType"><br>
                 <input  type="text" class="form-control" placeholder="Description" ng-model="search1.description"><br>           
            </div>              
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              
                    
                <table class="table table-bordered table-striped table-condensed flip-content">
                <thead flip-content>
                <tr>
                  <th><a ng-click="sortType = 'expenseType'; sortReverse = !sortReverse">Expense Type</a></th>
                  <th><a ng-click="sortType = 'description'; sortReverse = !sortReverse">Description</a></th>
                  <th><a ng-click="sortType = 'date'; sortReverse = !sortReverse">Expense Date</a></th>
                  <th><a ng-click="sortType = 'amount'; sortReverse = !sortReverse">Expense Amount</a></th>
                  <th ng-show="Admin">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="x in  filtered = (ExpensePaymentList | filter:search1) |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                  <div data-ng-bind-html="x.id">
                    <td>{{x.expenseType}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.date}} </td>
                    <td>{{x.amount}}</td>
                    <td ng-show="Admin">
                      <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="editExpensePayment(x)"></i>
                      <i class="fa fa-trash-o" aria-hidden="true"  ng-click="deleteExpensePayment(x)"></i>

                    </td>

                  </div>
                </tr>
                </tbody>
              </table>
            

            
        
            <!--<div class="pull-left">
              Total Results :{{ ExpensePaymentList.length}} |  Filtered Results :{{ filtered.length}}
            </div>
            <div class="pull-right">
              <button ng-disabled="currentPage == 0"               ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
              <button ng-disabled="currentPage >= filtered.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>

            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
                 <div class="pull-left"> Total Results :{{ExpensePaymentList.length}} | Filtered Results : {{filtered.length}}</div>
                 <div class="pull-right"> 
                   <button ng-disabled="currentPage == 0" class="pgr"  ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                  <button ng-disabled="currentPage >= ExpensePaymentList.length/pageSize-1" class="pgr" ng-click="currentPage=currentPage+1">Next</button>
                  </div>
                </div>
            </div>
            </div>

            </div>



        </div>
      </div>
    </div>
  </div>
</div>

