<script type="text/ng-template" id="deleteSubject">
    <div class="ngdialog-message">
        <h3>Confirm Delete</h3>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
        </div>
    </div>
</script>


<div class="container">
    <div class="row margin-top-10">
        <div class=" col-sm-12">
            <!------------------------------------------------ BEGIN PORTLET------------------------------------------>
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject uppercase">Subjects</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row list-separated">


                          <!---->
                          <div class="col-sm-12">
                            <div class="col-sm-3">
                              <select ng-model="search.class.id" class="form-control">
                                <option value="">Class </option>
                                <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                              </select>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" ng-model="search.staff.username" placeholder="Search By Teacher" class="form-control">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" ng-model="search.subjectName" placeholder="Search By Subject" class="form-control"> </input>
                            </div>
                            </div>
                          <br> <br> <br>
                            <!---->
                      <div class="portlet-body-morris-fit morris-chart flip-scroll" style="margin-right:0px;margin-left:0px;margin-bottom:0px;height: 260px">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                          <thead flip-content><tr><th>Subject</th>
                                    <th>Class</th>
                                    <th>Teacher</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="a in subjectList | filter:search">
                                    <td style="width: 10%">{{a.subjectName}}</td>
                                    <td style="width: 5%">{{a.class.className}}-{{a.class.sectionName}}</td>
                                    <td style="width: 10%">{{a.staff.username}}</td>
                                    
                                </tbody>
                             
                            </table>
                        </div>
                    <!---->
                </div>

                <div class="portlet-body-morris-fit morris-chart" style="height: 260px">
                </div>
            </div>
            </div>
            <!--------------------------------------------- END PORTLET------------------------------------------------>
        </div>
    </div>
</div>
