
<!------------------------------------------------------------------- BEGIN CONTAINER------------------------------------------------>
<div class="container">
  <!------------------------------------------------------------------- BEGIN ROW MARGIN-------------------------------------------->
  <div class="row margin-top-10">
    <!------------------------------------------------------------------- BEGIN DIV-------------------------------------------------->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!------------------------------------------------------------------- BEGIN PORTLET-------------------------------------------->
      <div class="portlet light" style="height: 500px">
        <!------------------------portlet-body-------------------------------------->
        <div class="portlet-body">
          <div class="row list-separated">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!------------------------Message Block-------------------------------------->
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-show="error"  class="alert alert-danger">{{response}}</div>
                    <div ng-show="success" class="alert alert-success">{{response}}</div>
                </div>
            </div>    
                <!------------------------Message Block-------------------------------------->
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 
                <!------------------------Create Assignment-------------------------------------->
                <div class="panel panel-default">
                    <div class="panel-heading text-center">ADD EXAM</div>
                                                    
                     <div class="panel-body">
                                <form class="form-horizontal" ng-submit="addExam()">

                                <fieldset>
                                    
                                    <div class="form-group">
                                    <label for="select" class="col-lg-offset-2 col-lg-3 control-label col-lg-offset-2">CLASS NAME</label>
                                    <div class="col-lg-3">
                                            <select ng-model="formData.classId"  required ng-change="setSubjectList()" class="form-control">
                                            <option value="">Class </option>
                                            <option ng-repeat="y in classList"  value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                                          </select>
                                    </div>
                                    </div>

                                    <div class="form-group">
                                    <label for="select" class="col-lg-offset-2 col-lg-3 control-label col-lg-offset-2">EXAM NAME</label>
                                    <div class="col-lg-3">
                                        <input  type="text" class="form-control" placeholder="ExamName" ng-model="formData.examName"  required>
                                    </div>
                                    </div>
                                    
                                    <div class="form-group">
                                    <label for="select" class="col-lg-offset-2 col-lg-3 control-label col-lg-offset-2">FROM DATE</label>
                                    <div class="col-lg-3">
                                        <input  type="date"  max="9999-12-31" min="0001-01-01" class="form-control"  ng-model="formData.fromDate"  required>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="select" class="col-lg-offset-2 col-lg-3 control-label col-lg-offset-2">TO DATE</label>
                                    <div class="col-lg-3">
                                        <input  type="date"  max="9999-12-31" min="0001-01-01" class="form-control"  ng-model="formData.toDate"  required>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <div class="col-lg-offset-5 col-lg-8">
                                        <button type="reset" class="btn btn-danger" <a ui-sref="exams">Cancel</a></button>
                                        <button type="submit" class="btn btn-success" >Create</button>
                                    </div>
                                    </div>
                                </fieldset>
                                </form>
                      </div>
                </div>
                <!--------------------------END create Assignment------------------------------------>
                
            </div>
          </div>
        </div>
        <!------------------------END portlet-body-------------------------------------->
      </div>
      <!------------------------------------------------------------------- END PORTLET-------------------------------------------->
      

    </div>
    <!------------------------------------------------------------------- END DIV-------------------------------------------------->

  </div>
  <!------------------------------------------------------------------- END ROW MARGIN--------------------------------------------> 
</div>
<!------------------------------------------------------------------- END CONTAINER------------------------------------------------>

      
