<script type="text/ng-template" id="deleteClass">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1><br>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>

<!---------------------------------------------------------------------------------->

<!------------------------subjects---------------------------->

<script type="text/ng-template" id="showSubjectList">
  <div class="ngdialog-message">
    <div class="ngdialog-buttons" >
        <div class="panel panel-info">
            <!--<div class="panel-heading text-center">Subjects</div>-->
            <div class="panel-body">


		            <table class="table table-bordered table-striped table-condensed flip-content">


                        <thead>
                          <th>Subject </td>
                          <th>Teacher</th>

                        </thead>
                        <tbody>
                          <tr ng-repeat="subject in subjects">
                            <td>{{subject.subjectName}} </td>
                            <td>{{subject.staff.firstName}}</td>
                          </tr>
                        </tbody>
                </table>





            </div>
        </div>
    </div>
  </div>
</script>

<!---------------------------------------subjects------------------------------------------->



<!---------------------------------------Page View Starts------------------------------------------->
<div class="container">
  <div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light"  style="height: 462px">
        <div class="portlet-title">
         <div class="caption caption-md col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="uppercase pull-left">Classes</span>
            <span class="caption-subject uppercase col-sm-6"></span>
            <span class="btn btn-primary pull-right" ng-show="Admin" <a ui-sref="addclass"> Add Class</a></span>
          </div>


        </div>
        <div class="portlet-body">
        <div class="row">
            

                <div>
                    <div ng-show="error"  class="alert alert-danger">{{response}}</div>
                    <div ng-show="success" class="alert alert-success">{{response}}</div>
                </div>


              <div class="row"> 
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <select ng-model="search.id" class="form-control">
                    <option value="">Class </option>
                    <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                  </select>
                <br>

                  <input type="text" ng-model="search.staff.firstName" placeholder="Search By Teacher" class="form-control"> </input>
                </div>
                <div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div ng-hide="Admin || Staff" class="panel panel-default">
                        <div class="panel-body text-center">My Class : {{classData.className}}-{{classData.sectionName}} |  Class Teacher : {{classData.staff.firstName}}</div>
                </div>
                <!----------------------------------Table Begins-------------------------------------------->
		            <table class="table table-bordered table-striped table-condensed flip-content">
                    <!----------------------------------Table Head Begins-------------------------------------------->
                    <thead flip-content>
                    <tr>
                     

                    <th><a href="javascript:void(0)" ng-click="sortType = 'className'; toggleSort(0);sortReverse = !sortReverse">Class<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'sectionName'; toggleSort(0);sortReverse = !sortReverse">Section<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'staff.firstName'; toggleSort(0);sortReverse = !sortReverse">Teacher<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                      
                      <th ng-show="Admin">Action</th>
                    </tr>
                    </thead>
                    <!----------------------------------Table Head Ends-------------------------------------------->


                    <!----------------------------------Table Body Begins-------------------------------------------->
                    <tbody>
                    <tr style="height:20px" data-ng-repeat="x in  filtered = (classList | filter:search) |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                        <div data-ng-bind-html="x.id">
                        <td><a ng-click="showSubjects(x)"> {{x.className}}</a></td>
                        <td>{{x.sectionName}}</td>
                        <td ng-hide="Admin">{{x.staff.firstName}}</td>
                        <td ng-show="Admin">
                        <address style="height:0.5px" ng-hide="editclass">{{x.staff.firstName}} {{x.staff.lastName}}</address>
						            <select ng-model="x.staff.id" class="form-control Staff" ng-show="editclass" required>
                        <option value="">Class Teacher</option>
                        <option ng-repeat="y in staffList" value="{{y.id}}">{{y.firstName}} {{y.lastName}}</option>
                        </select>
					            	</td>
					              <td ng-show="Admin">
                          <i class="fa fa-floppy-o" ng-click="updateClass(x); editclass= false" ng-show="editclass" aria-hidden="true"></i>
                          <i class="fa fa-pencil-square-o"  ng-hide="editclass" ng-click="clearResponse();editclass= true"  aria-hidden="true"></i>
                          <i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteClass(x)"></i>
                        </td>
                        </div>
                    </tr>
                    </tbody>
                    <!----------------------------------Table Body Ends-------------------------------------------->
                </table>
                <!----------------------------------Table  Ends-------------------------------------------->
                <!----------------------------------Page Nation-------------------------------------------->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
                 <div class="pull-left"> Total Results :{{classList.length}} | Filtered Results : {{filtered.length}}</div>
                 <div class="pull-right">
                   <button ng-disabled="currentPage == 0" class="pgr"  ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                  <button ng-disabled="currentPage >= classList.length/pageSize-1" class="pgr" ng-click="currentPage=currentPage+1">Next</button>
                  </div>
                </div>



                   <!----------------------------------Page Nation-------------------------------------------->
            </div>
                </div>
              </div>
            </div>
          </div>
        </div>






        </div>
      </div>
      </div>
  </div>
</div>
<!--<style>
  .pgr{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  </style>-->
