

<div class="container" >
    <div class="row margin-top-10">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                      <span class="caption-subject uppercase">Classes</span>
                      
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row list-separated">
                        
                        <div>
					
                                <!---->
                                <div class="col-sm-12">
                                <div class="col-sm-3">
                                <select ng-model="formData.id" class="form-control">
                                  <option value="">Class </option>
                                  <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                                </select>
                                  </div>
                                  <div class="col-sm-3">
                                <input type="text" ng-model="formData.staff.username" placeholder="Search By Teacher" class="form-control"> </input>
                                </div>
                                <!---->
                        </div>
                          <div class="portlet-body-morris-fit morris-chart flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                              <thead flip-content>
                            <tr>
                              <th>Class</th>
                              <th>Section</th>
                              <th>Teacher</th>
                           
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="x in classList | filter:formData ">
                                <td style="width: 5%">{{x.className}}</td>
                                <td style="width: 5%">{{x.sectionName}}</td>
                                <td style="width: 5%">{{x.staff.username}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
             </div>
        </div>
    </div>
</div>
