
<div class="logo"><a href="/"><img src="../../assets/admin/layout3/img/logo-big.png" alt=""/></a></div>
                <div class="menu-toggler sidebar-toggler">
                    <div id="status-buttons" class="text-center">
                        <a ui-sref-active="active" ui-sref=".student" ng-click="clearErr()" ><span>1</span> Student Login</a>
                        <a ui-sref-active="active" ui-sref=".parent" ng-click="clearErr()"><span>2</span> Parent Login</a>
                        <a ui-sref-active="active" ui-sref=".admin" ng-click="clearErr()"><span>3</span> Admin Login</a>
                        <a ui-sref-active="active" ui-sref=".staff" ng-click="clearErr()"><span>4</span> Staff Login</a>

                    </div>
                </div>
<div class="content"><div> <center><h4>{{formData.errmsg}}</h4> </center></div><div id="form-views" ui-view></div></div>
<div class="copyright">                    2016 © Study Monitor.</div>
