
<script type="text/ng-template" id="deleteAssignment">
  <div class="ngdialog-message">
    <h3>Confirm Delete</h3><br>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="editAssignment">
  <div class="ngdialog-message">
    <h3>Edit Assignment</h3><br>

    <form>

      <input  type="text" class="form-control" placeholder="Title" ng-value="title" ng-model="formData.title"><br>
      <!--<select ng-model="formData.classId" class="form-control" required>
        <option>{{formData.classId}}</option>
        <option ng-repeat="x in classList" ng-selected="formData.classId" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
      </select>-->
      <select ng-model="formData.classId"  ng-value="classId" class="form-control">
        <option value="">Class </option>
        <option ng-repeat="y in classList"  value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
      </select><br>
      <textarea rows="4" cols="50" class="form-control" placeholder="Description"  ng-model="formData.description"></textarea><br>
      <input  type="date" class="form-control" max="9999-12-31" max="0001-01-01" ng-value="fromDate" ng-model="formData.fromDate"><br>
      <input  type="date" class="form-control" max="9999-12-31" max="0001-01-01" ng-value="toDate" ng-model="formData.toDate"><br>
      <!--<input type = "file" file-model = "myFile" class="form-control" placeholder="Image" ng-model="formData.uploadFile"><br>-->
      <button type="submit" class="btn btn-success uppercase" ng-click=confirm(formData)>Save</button>
      <button type="button" class="btn btn-success uppercase" ng-click=closeThisDialog("Cancel")>Cancel</button>

    </form>
  </div>
</script>


<!--------------------Add ASSIGNMNET SECTION------>
<!--<script type="text/ng-template" id="addAssignment">
  <div class="ngdialog-message">
    <h1>Add Assignment</h1>
    <form ng-submit="confirm(formData)">
      <div>
        <input  type="text" class="form-control" placeholder="Title" ng-model="formData.title"  required><br>
        <select ng-model="formData.classSelected" id="repeatSelect1" class="form-control" required>
          <option value="">Class-Section</option>
          <option ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
        </select>
        <br>
        <textarea rows="4" cols="50" class="form-control" placeholder="Description of Assignment " ng-model="formData.description" required></textarea><br>
        <input  type="date" class="form-control"  max="9999-12-31" max="0001-01-01"  ng-model="formData.fromDate" required><br>
        <input  type="date" class="form-control"  max="9999-12-31" max="0001-01-01"  ng-model="formData.toDate" required><br>
        <input type = "file" file-model = "formData.myFile" class="form-control" placeholder="Image" ng-model="formData.uploadFile"><br>
        <button type="submit"  class="btn btn-success uppercase">Post Assignment</button>
      </div>


    </form>
    <div class="ngdialog-buttons">
    </div>
  </div>
</script>-->




<div class="container">
  <div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->

       <div class="portlet light" style="height: 462px">
        <div class="portlet-title">
          <div class="caption caption-md">ASSIGNMENTS</div>
          <button ng-hide='Student' class="btn btn-primary uppercase pull-right" <a ui-sref="addAssignment">ADD ASSIGNMENTS </a></button>

        </div>

        <!-- -----------------------------------Search Form-------------------------------->
        <div class="portlet-body" ng-show="!showForm">
          <div class="row">

                <div>
                    <div class="alert alert-success"  ng-show ="success"   >{{responseAddAssignment}} </div>
			               <div  class="alert alert-danger" ng-show ="error" >{{responseAddAssignment}} </div>
                </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="min-height:50px">
                  <input  type="text" class="form-control" placeholder="Title" ng-model="search.title"  required><br>
                  <select ng-model="search.class.id" id="repeatSelect1" class="form-control" required>
                    <option value="">Class-Section</option>
                    <option ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
                  </select>
                  <br>

                </div>



              </form>


              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"   style="height:260px;overflow-y:auto;" >
                <table class="table table-bordered table-striped table-condensed flip-content">
                  <thead flip-content>
                  <tr>
                    <th>SL.No</th>

                   
                  <th><a href="javascript:void(0)" ng-click="sortType = 'title'; toggleSort(0);sortReverse = !sortReverse">Title<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                  <th><a href="javascript:void(0)" ng-click="sortType = 'class.className'; toggleSort(0);sortReverse = !sortReverse">Class<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                  <th><a href="javascript:void(0)" ng-click="sortType = 'description'; toggleSort(0);sortReverse = !sortReverse">Description<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                  <th><a href="javascript:void(0)" ng-click="sortType = 'fromDate'; toggleSort(0);sortReverse = !sortReverse">From Date<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                  <th><a href="javascript:void(0)" ng-click="sortType = 'toDate'; toggleSort(0);sortReverse = !sortReverse">To Date<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                    <!--<th>File</th>-->
                    <th ng-show="Admin || Staff">Option</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr data-ng-repeat="x in filtered=(assignmentlist | filter: search)| orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                    <div data-ng-bind-html="x.id">
                      <td>{{$index+1}}</td>
                      <td>{{x.title}}</td>
					            <td>{{x.class.className}}-{{x.class.sectionName}}</td>
                      <td>{{x.description}}</td>
                      <td>{{x.fromDate | date:'MMM dd yyyy'}}</td>
                      <td>{{x.toDate | date:'MMM dd yyyy'}}</td>
                      <td ng-show="Admin || Staff"><i class="fa fa-pencil-square-o" ng-model="collapsed1" ng-click="editAssignment(x)"></i>
                        <i class="fa fa-trash-o"  ng-click="deleteAssignment(x)"></i>
                      </td>
                    </div>
                  </tr>
                  </tbody>
                </table>

                <!----------------------------------Page Nation-------------------------------------------->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
                        <div class="pull-left"> Total Results :{{ assignmentlist.length}}||Filtered Results :{{ filtered.length}}</div>
                        <div class="pull-right">
                          <button ng-disabled="currentPage == 0" class="pgr"  ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                          <button ng-disabled="currentPage >= filtered.length/pageSize-1" class="pgr" ng-click="currentPage=currentPage+1">Next</button>
                          </div>
                        </div>
                <!----------------------------------Page Nation-------------------------------------------->
                </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
