<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light ">

        <div class="portlet-title">
          <div class="caption caption-md">  <span class="caption-subject uppercase">Attendance</span>          </div>
        </div>

        <div class="portlet-body">
          <div class="row list-separated">
            <form ng-submit="loadDates()">

            <div class="col-sm-3">
              <select ng-model="classSelected" class="form-control" required>
                <option value="">Class </option>
                <option ng-repeat="y in classList" value="{{y.id}}" >{{y.className}}-{{y.sectionName}}</option>
              </select>
            </div>
              <div class="col-sm-3">
                <input type="date" class="form-control" ng-model="dateSelected" required>
            </div>
            <div class="col-sm-2">
              <input type="submit" ng-show="Admin || Staff" class="btn btn-success uppercase" value="Generate Attendance"/>
              <input type="submit" ng-hide="Admin" class="btn btn-success uppercase" value="View Attendance"/>
            </div>
            </form>
            <!---->
            <br><br><br>
            <div class="col-sm-12">

                <div class="portlet-body-morris-fit morris-chart flip-scroll" style="margin-right:0px;margin-left:0px;margin-bottom:0px;height: 260px;overflow-y: scroll;">
                  <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead flip-content><tr>
                      <th>Student</th>
					  <th>Present/Absent</th>

                    </tr></thead>
                    <tbody>
                    <tr data-ng-repeat="x in studentList">
                        <td> {{x.firstName}}</td>
						<td ng-show="Admin || Staff"> <input type="checkbox"  ng-model="x.status"  ng-click="addAttendance(x)" > </td>
											<td ng-hide="Admin || Staff"> <p ng-show="x.status">Present</p><p ng-hide="x.status">Absent</p> </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
                <!---->
              </div>

          </div>
        </div>
        <!-- END PORTLET-->
      </div>
    </div>
  </div>
</div>
</div>





