<script type="text/ng-template" id="deleteClass">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>


<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md col-sm-12">
            <span class="caption-subject uppercase col-sm-4">Classes</span><span class="caption-subject uppercase col-sm-6"></span>
            <span class="caption-subject uppercase col-sm-2" ng-show="Admin" ng-click="collapsed=!collapsed ;clearResponse()"> Add Class</span>
          </div>

        </div>
        <div class="portlet-body">
          <div class="row list-separated">
            <div ng-show="collapsed">
              <div> <p style="color:red">{{responseAddClass}}</p>
							<form ng-submit="addClass()">
							  <div class="col-sm-12">
								<div class="col-sm-2"> <input type="text" class="form-control Class" placeholder="Class Name"  ng-model="formData.className" required> </div>
								<div class="col-sm-2"> <input type="text" class="form-control Section" placeholder="Section Name" ng-model="formData.sectionName" required> </div>
								<div class="col-sm-2">  <select ng-model="formData.staffSelected" class="form-control Staff" required>
								  <option value="">Class Teacher</option>
								  <option ng-repeat="x in staffList" value="{{x.id}}">{{x.firstName}}</option>
								</select>
								</div>
								<div class="col-sm-2">  <button type="submit" class="btn btn-success uppercase">Create Class</button></div>
							  </div>
							  <div class="col-sm-12">
								<div style="color: red;" class="col-sm-6">{{response}}</div>
							  </div>
							</form>
              </div>
            </div>
           <br><br><br><br>
            <div>
              <!---->
              <div class="col-sm-12">
                <div class="col-sm-3">
                  <select ng-model="search.id" class="form-control">
                    <option value="">Class </option>
                    <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                  </select>
                <br>

                  <input type="text" ng-model="search.staff.firstName" placeholder="Search By Teacher" class="form-control"> </input>
                </div>
                <div class="col-sm-9">
				<div class="portlet-body-morris-fit morris-chart flip-scroll" style="color:red"> {{ response}} 	</div>
                <div class="portlet-body-morris-fit morris-chart flip-scroll" style="margin-right:0px;margin-left:0px;margin-bottom:0px;height: 260px">
                       
		            <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead flip-content>
                    <tr>
                      <th><a ng-click="sortType = 'className'; sortReverse = !sortReverse">Class</a></th>
                      <th><a ng-click="sortType = 'sectionName'; sortReverse = !sortReverse">Section</th>
                      <th><a ng-click="sortType = 'staff.firstName'; sortReverse = !sortReverse">Teacher</th>
                      <th ng-show="Admin">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="x in classList | filter:search |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                        <div data-ng-bind-html="x.id">
                        <td>{{x.className}}</td>
                        <td>{{x.sectionName}}</td>
                        <td ng-hide="Admin">{{x.staff.firstName}}</td>
                        <td ng-show="Admin"> 
                        <p ng-hide="editclass">{{x.staff.firstName}}</p>
						<select ng-model="x.staff.id" class="form-control Staff" ng-show="editclass" required>
                          <option value="">Class Teacher</option>
                          <option ng-repeat="y in staffList" value="{{y.id}}">{{y.firstName}}</option>
                        </select>
						</td>
					   <td ng-show="Admin">
                            <i class="glyphicon glyphicon-save"    ng-show="editclass" ng-click="updateClass(x); editclass= false"></i>
                            <i class="glyphicon glyphicon-edit"    ng-hide="editclass" ng-click="clearResponse();editclass= true"></i>
                            <i class="glyphicon glyphicon-remove"  ng-click="deleteClass(x)"></i>
                        </td>
                        </div>
                    </tr>
                    </tbody>
                  </table>
				  
				  <button ng-disabled="currentPage == 0"                        ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                  <button ng-disabled="currentPage >= classList.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>
                  </div>
                  <!---->
                 </div>
              </div>
            </div>
          </div>
          <!-- END PORTLET-->
        </div>
      </div>
    </div>
  </div>
</div>
