
<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-8 col-sm-8 row-md-4">
      <div class="portlet light ">
          <div class="portlet-title">
          <div class="caption caption-md">Dashboard</div>
        </div>
          <div class="row list-separated">
          <div class="col-sm-12">


            </div>

            <div class="portlet-body-morris-fit morris-chart flip-scroll" style="margin-right:0px;margin-left:0px;margin-bottom:0px;height: 260px">
              <calendar calendar-mode="mode" event-source="eventSource">

            </div>


          </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 row-md-4">
      <div class="portlet light row-md-1">

          <center>Birthdays</center>
          <table class="table table-bordered table-striped table-condensed flip-content">
            <thead></thead>
            <tr ng-repeat="x in birthdayList">  <td>{{x.firstName}} </td><td>{{x.class}} </td></tr>
          </table>


      </div>
      <div class="portlet light row-md-1">
        <div class="portlet-title">
          <div class="caption caption-md">Images</div>
        </div>
        <div class="row list-separated">




      </div>
       </div>
      <div class="portlet light row-md-">
        <div class="portlet-title">
          <div class="caption caption-md">Videos</div>
        </div>
        <div class="row list-separated">





        </div>

      </div>


    </div>
  </div>
</div>
