 

<script type="text/ng-template" id="showEvents">
  <div class="ngdialog-message">
    <div class="ngdialog-buttons" style="height: 300px;overflow-y:auto;">
        <!---------------------Notices-------------------->
        <div class="panel panel-default">
            <div class="panel-heading text-center">Notices</div>
            <div class="panel-body">
                <ul ng-repeat="notice in events">
                  <li ng-if="notice.notice"> {{notice.title}} {{notice.description}} </li>
                </ul>
            </div>
        </div>
        <!---------------------Notices-------------------->

        <!---------------------Exams-------------------->
        <div class="panel panel-default">
            <div class="panel-heading text-center">Exams</div>
            <div class="panel-body">
                <ul ng-repeat="exam in events">
                  <li ng-if="exam.exam"> {{exam.title}}</li>
                </ul>
            </div>
        </div>
        <!---------------------Exams-------------------->

<!---------------------Assignments-------------------->
        <div class="panel panel-default">
            <div class="panel-heading text-center">Assignments</div>
            <div class="panel-body">
                <ul ng-repeat="assignment in events">
                  <li ng-if="assignment.assignment"> {{assignment.title}}</li>
                </ul>
            </div>
        </div>
        <!---------------------Assignments-------------------->
        
    </div>
  </div>
</script>

<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-8 col-sm-12 col-xs-12 row-md-4">
      <div class="portlet light ">
                <section ng-init="loadEvents()">
                  <div class="alert alert-success" ng-show="event">Event selected:{{event.startTime|date:
                    'MMM/dd,yyyy,HH:mm'}} - {{event.endTime|date:'MMM/dd,yyyy,HH:mm'}}, {{event.title}}
                  </div>

                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <!--<button type="button" class="btn btn-default" ng-class="{active:mode==='month'}"
                              ng-click="changeMode('month')">
                        Month
                      </button>-->
                      <!--<button type="button" class="btn btn-default" ng-class="{active:mode==='week'}"
                              ng-click="changeMode('week')">
                        Week
                      </button>
                      <button type="button" class="btn btn-default" ng-class="{active:mode==='day'}"
                              ng-click="changeMode('day')">
                        Day
                      </button>-->

                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" ng-disabled="isToday()"
                              ng-click="today()">
                        Today
                      </button>
                    </div>
                  </div>
                  <br>
                  <div class="well well-sm">
                    <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                              range-changed="reloadSource(startTime, endTime)"
                              event-selected="onEventSelected(event)"></calendar>
                  </div>
                </section>
      </div>
    </div>
    <div  class="col-md-4 col-sm-12 col-xs-12 row-md-4">
      <div ng-hide="Parent" class="portlet light row-md-1">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                Birthday List
              </div>
              

                <table  class="scroll table table-fixed">
                    
                    <tbody>
                                <tr ng-repeat="x in birthdayList | orderBy:'x.dataofBirth':true">
                                  <td style="width: 150px" ng-show="birthDayChk(x)" style="background-color: #009900">{{x.firstName}} {{x.lastName}}</td>
                                  <td style="width: 150px" ng-hide="birthDayChk(x)">{{x.firstName}}{{x.lastName}} </td>
                                  <td style="width: 100px" ng-show="birthDayChk(x)" style="background-color: #009900">{{x.class}} </td>
                                  <td style="width: 100px" ng-hide="birthDayChk(x)">{{x.class}} </td>
                                  <td style="width: 100px" ng-show="birthDayChk(x)" style="background-color: #009900">{{x.dateofBirth | date:'MMM dd'}} </td>
                                  <td style="width: 100px" ng-hide="birthDayChk(x)">{{x.dateofBirth | date:'MMM dd'}} </td>
                                </tr>

                    </tbody>
</table>

            </div>
      </div>
      <div class="portlet light row-md-1">
        <div class="portlet-title">
          <div class="caption caption-md">Images</div>
        </div>
        <div class="row list-separated">

                    <!--IMAGES CODE--->
                    <iframe width="350" height="250" id="myIframe1"  frameborder="0"></iframe>
                    
                    <!---->

        </div>
      </div>
      <div class="portlet light row-md-">
        <div class="portlet-title">
          <div class="caption caption-md">Videos</div>
        </div>
        <div class="row list-separated">
                    <!--VIDEOS CODE--->
                    <iframe width="350" height="250" id="myIframe2"  frameborder="0"></iframe>
                    <!---->
        </div>

      </div>


    </div>
  </div>
</div>
