<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
      <div class="portlet light ">

        <div class="portlet-title">
          <div class="caption caption-md col-sm-2">  <span class="caption-subject uppercase">Email</span>          </div>

        </div>

        <div class="portlet-body">
          <div class="row list-separated">
            <!--<form ng-submit="uploadFile()">-->
              <!--<input type="file" file-model="file" />-->
              <!--<input type="submit" >-->
              <!--&lt;!&ndash;<input type="file" name="file" accept="image/*" onchange="uploadFile">&ndash;&gt;-->
            <!--</form>-->

                </div>

              </div>

          </div>
    </div>
  </div>
</div>





