<!--------------------------------------------------EDIT SECTION---------------------------------------------->
<!--------------------------------------------------EDIT EXPENSE TYPE---------------------------------------------->
<script type="text/ng-template" id="editExpenseType">
  <div class="ngdialog-message">
    <h3>Edit Expense Type</h3>
    <form ng-submit=confirm(editData) >
      <div class="col-sm-12">
        <input type="text" class="form-control" ng-disabled="false" placeholder="Expense Type*"  ng-model="editData.name" required><br>

        <div class="col-sm-2">  <button type="submit" class="btn btn-success uppercase">Save Expense Type</button></div>
      </div>



    </form>
    <div class="ngdialog-buttons">
    </div>
  </div>
</script>
<!-------------------------------EDIT EXPENSE  TYPE--------------------------------->

 




<!-----------------------------------EDIT EXPENSE PAYMENT TYPE-------------------------->
<script type="text/ng-template" id="editExpensePayment">
  <div class="ngdialog-message">
    <h3>Edit Expense Payment</h3>
    <form ng-submit=confirm(editData) >
      <div class="col-sm-12">
        <select ng-model="editData.expenseTypeId" class="form-control Expense" required>
          <option value="">EXPENSE TYPE</option>
          <option ng-repeat="x in ExpenseTypeList" value="{{x.id}}">{{x.name}}</option>
        </select><br>

        <input type="date"  max="9999-12-31" max="0001-01-01"  class="form-control" ng-disabled="false"  ng-model="editData.date" ng-value="feeDate" required><br>
        <input type="number" class="form-control" ng-disabled="false" ng-model="editData.amount" required><br>

        <div class="col-sm-2">  <button type="submit" class="btn btn-success uppercase">Save Expense Payment</button></div>
      </div>



    </form>
    <div class="ngdialog-buttons">
    </div>
  </div>
</script>
<!-----------------------------------EDIT EXPENSE PAYMENT-------------------------->
<!---------------------------------------------------------------------EDIT SECTION---------------------------------------------->




<!---------------------------------------------------------------------DELETE SECTION---------------------------------------------->
<!-----------------------------------DELETE EXPENSE TYPE-------------------------->
<script type="text/ng-template" id="deleteExpenseType">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<!-----------------------------------DELETE EXPENSE TYPE-------------------------->



<!-----------------------------------DELETE EXPENSE PAYMENT-------------------------->
<script type="text/ng-template" id="deleteExpensePayment">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<!-----------------------------------DELETE EXPENSE PAYMENT-------------------------->



 
<!---------------------------------------Main Block---------------------------->
<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md pull-left">EXPENSE MANAGEMENT</div>
          <div class="caption caption-md pull-right">
          <!--Tab Buttons-->

          <button class="btn btn-default" ng-class="{ active: isSet(1) }" href ng-click="setTab(1)">EXPENSE TYPE </button>
          <button class="btn btn-default" ng-class="{ active: isSet(2) }" href ng-click="setTab(2)">EXPENSE PAYMENT</button>
           
          <!--Tab Buttons-->
          </div>

        </div>
        <!-- ------------------------------Main Block---------------------------------->
        <div class="row list-separated">

          <div class="row">
        <!-----------TAB 1 BEGINS HERE---------------------------->

          <!--Tab 1-->
          <div ng-show="isSet(1)">
            <div class="col-sm-12">
              <div class="col-sm-2">

              </div>
                <form ng-submit="addExpenseType()" >
                    <div class="col-sm-3">
                      {{responseAddExpenseType}}<br>
                    <input  type="text"   class="form-control" placeholder="Expense Type*"  ng-model="formData.name" required><br>
                    <textarea rows="4" cols="50" class="form-control" placeholder="Description" ng-model="formData.description"></textarea><br>
                    <button type="submit" class="btn btn-success uppercase">Add</button>
                    </div>

                </form>
              <div class="col-sm-7">

                <input  type="text" class="form-control" placeholder="Expense Type" ng-model="search.name"><br>
                <table class="table table-bordered table-striped table-condensed flip-content">
                  <thead flip-content>
                  <tr>
                    <th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">Expense Type</a></th>

                    <th ng-show="Admin">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="x in  filtered = (ExpenseTypeList | filter:search) |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                    <div data-ng-bind-html="x.id">
                      <td>{{x.name}}</td>
                      <td ng-show="Admin">
                        <i class="glyphicon glyphicon-edit"  ng-click="editExpenseType(x)"></i>
                        <i class="glyphicon glyphicon-remove"  ng-click="deleteExpenseType(x)"></i>
                      </td>

                    </div>
                  </tr>
                  </tbody>
                </table>

              <div class="pull-">
                Total Results :{{ ExpenseTypeList.length}} |  Filtered Results :{{ filtered.length}}
              </div>
              <div class="pull-right">
                <button ng-disabled="currentPage == 0"               ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                <button ng-disabled="currentPage >= filtered.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>
              </div>
              </div>
            </div>


            </div>

            <!-----------TAB 2 BEGINS HERE---------------------------->

          <!--Tab 2-->
            <div ng-show="isSet(2)">
              <div class="col-sm-12">

                {{responseAddExpenseType}}
                <form ng-submit="addExpensePayment()">
                  <div class="col-sm-3">
                    <select ng-model="formData.expenseSelected" class="form-control Expense" required>
                      <option value="">EXPENSE TYPE</option>
                      <option ng-repeat="x in ExpenseTypeList" value="{{x.id}}">{{x.name}}</option>
                    </select><br>
                    <input   max="9999-12-31" max="0001-01-01" type="date"   class="form-control" placeholder="Expense Date*"  ng-model="formData.date" ng-value="date" required><br>
                    <input  type="number"   class="form-control" placeholder="Expense Amount*"  ng-model="formData.amount" required><br>
                    <textarea rows="4" cols="50" class="form-control" placeholder="Description" ng-model="formData.description"></textarea><br>
                    <button type="submit" class="btn btn-success uppercase">Add</button>
                  </div>
                </form>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="col-sm-3"><input  type="text" class="form-control" placeholder="Expense Type" ng-model="search1.expenseType.name"></div>
                  <div class="col-sm-3"><input  type="amount" class="form-control" placeholder="Expense Amount" ng-model="search1.amount"></div>
                </div><br><br><br>

                <div class="col-sm-7">
                   <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead flip-content>
                    <tr>
                      <th><a ng-click="sortType = 'expenseType.name'; sortReverse = !sortReverse">Expense Payment</a></th>
                      <th><a ng-click="sortType = 'date'; sortReverse = !sortReverse">Expense Date</a></th>
                      <th><a ng-click="sortType = 'amount'; sortReverse = !sortReverse">Expense Amount</a></th>
                      <th ng-show="Admin">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="x in  filtered = (ExpensePaymentList | filter:search1) |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                      <div data-ng-bind-html="x.id">
                        <td>{{x.expenseType.name}}</td>
                        <td>{{x.date | date:'MMM dd yyyy'}} </td>
                        <td>{{x.amount}}</td>
                        <td ng-show="Admin">
                          <i class="glyphicon glyphicon-edit"  ng-click="editExpensePayment(x)"></i>
                          <i class="glyphicon glyphicon-remove"  ng-click="deleteExpensePayment(x)"></i>

                        </td>

                      </div>
                    </tr>
                    </tbody>
                  </table>

                <div class="pull-left">
                  Total Results :{{ ExpensePaymentList.length}} |  Filtered Results :{{ filtered.length}}



                </div>
                <div class="pull-right">
                  <button ng-disabled="currentPage == 0"               ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                  <button ng-disabled="currentPage >= filtered.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>

                </div>
                </div>


              </div>

              <div class="col-sm-12">
                <p></p>
                <p></p>
              </div>

            </div>

            <!-----------TAB 2 ENDS HERE---------------------------->


             


            <!-- -----------------------------------------------------------------------------Admission Form-------------------------------------------------->




      </div>
    </div>
  </div>
</div>
</div>
</div>
