<!--Delete Fee Script-->
<script type="text/ng-template" id="deleteFee">
  <div class="ngdialog-message">
    Confirm Delete
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<!--Delete Fee Script-->
<script type="text/ng-template" id="deleteFeePayment">
  <div class="ngdialog-message">
    Confirm Delete
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>



<!--Update Months Fee Script-->
<!--<script type="text/ng-template" id="updateMonths">
  <div class="ngdialog-message">
    <h5>Select Months</h5>
    <form ng-submit =closeThisDialog(formData)>
      <input type="checkbox" ng-model="formData.January" >Jan</input>  
      <input type="checkbox" ng-model="formData.February"> Feb </input>
      <input type="checkbox" ng-model="formData.March" > Mar </input>
      <input type="checkbox" ng-model="formData.April" > Apr </input>
      <input type="checkbox" ng-model="formData.May" > May </input>
      <input type="checkbox" ng-model="formData.June" > Jun </input>
      <input type="checkbox" ng-model="formData.July" > July </input>
      <input type="checkbox" ng-model="formData.August" > Aug </input>
      <input type="checkbox" ng-model="formData.September" > Sep </input>
      <input type="checkbox" ng-model="formData.October" > Oct </input>
      <input type="checkbox" ng-model="formData.November" > Nov </input>
      <input type="checkbox" ng-model="formData.December"> Dec </input>
      <input type="submit"  value="save"> 
    </form>

  </div>
</script>-->
<!--Update Months Fee Script-->


<!-- -------------------------------------------FEE VIEW--------------------------------->
<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light ">

        <div class="portlet-title">
          <div class="caption caption-md col-sm-3">  <span class="caption-subject uppercase">Fee Payment</span></div>
          <div class="col-sm-5"></div>
          <div class="col-sm-4">
            <button class="btn btn-default" ng-hide="Student" ng-class="{ active: isSet(1) }" href ng-click="setTab(1)">FEE SETUP</button>
            <button class="btn btn-default" ng-hide="Student" ng-class="{ active: isSet(2) }" href ng-click="setTab(2)">FEE PAYMENT</button>   
          </div>
        </div>
        <div class="portlet-body">
          <div class="row list-separated">
            <div class="row">
                    <div ng-show="isSet(1)" ng-hide="Student">
                     
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <!--Error Division-->
                <div class="alert alert-success" ng-show="success">   {{responseFee}}     </div>
                <div class="alert alert-error" ng-show="error">  {{responseFee}}  </div>
               <!--Error Division-->
              </div>

               <!--Form Submit Division-->     
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                <form ng-submit="addFeeType()">
                  <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 mbtm">
                    <select class="form-control" required  ng-model="formData.occurance"   >
                      <option value="">Fee Occurance</option>
                      <option>Monthly</option>
                      <option>Quarterly</option>
                      <option>Halfyearly</option>
                      <option>Yearly</option>
                      <option>OnlyOnce</option>
                    </select > <br>
                    <select class="form-control" required  ng-model="formData.classId"   >
                      <option value="">Class</option>
                      <option data-ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
                   
                    </select ><br>
                    <input  type="text"   class="form-control" placeholder="Fee Type*"  pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" ng-model="formData.feeType" required><br>
                    <input  type="number" min="1" minlength="1" maxlength="5" max="100000" class="form-control" placeholder="Amount"  ng-model="formData.amount" required><br>
                     <button type="submit" class="btn btn-success uppercase mbtm">Select Months</button>
                  </div>
                
                </form>

              

              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-show="showMonthsFlag">

                      <form ng-submit ="saveFee()">
                            <input type="checkbox" ng-model="month.January" >Jan</input>  
                            <input type="checkbox" ng-model="month.February"> Feb </input>
                            <input type="checkbox" ng-model="month.March" > Mar </input>
                            <input type="checkbox" ng-model="month.April" > Apr </input>
                            <input type="checkbox" ng-model="month.May" > May </input>
                            <input type="checkbox" ng-model="month.June" > Jun </input>
                            <input type="checkbox" ng-model="month.July" > July </input>
                            <input type="checkbox" ng-model="month.August" > Aug </input>
                            <input type="checkbox" ng-model="month.September" > Sep </input>
                            <input type="checkbox" ng-model="month.October" > Oct </input>
                            <input type="checkbox" ng-model="month.November" > Nov </input>
                            <input type="checkbox" ng-model="month.December"> Dec </input>
                            <input type="submit"  value="save"> 
                      </form>
              </div>
                           
                
               <!--Form Submit Division-->              
                

                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"  style="height:260px;overflow-y:auto;"> 
                              <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead flip-content>
                            <tr>
                               <th><a ng-click="sortType = 'occurance'; sortReverse = !sortReverse">Ocuurance</a></th>
                              <th><a ng-click="sortType = 'feeType'; sortReverse = !sortReverse">Fee Type</a></th>
                              <th><a ng-click="sortType = 'month'; sortReverse = !sortReverse">Month</a></th>
                              <th><a ng-click="sortType = 'amount'; sortReverse = !sortReverse">Amount</a></th>
                              <th><a ng-click="sortType = 'className'; sortReverse = !sortReverse">Class</a></th>
                              <th ng-show="Admin">Option</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr data-ng-repeat="x in feeList | filter:search |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize ">
                              <div data-ng-bind-html="x.id">

                                <td>{{x.occurance }}</td>
                                <td>{{x.feeType}}</td>
                                <td>{{x.month}}</td>
                                <td>{{x.amount}}</td>
                                <td>{{x.class.className}}-{{x.class.sectionName}}</td>
                                <td ng-show="Admin">  
                                  <!--<i class="glyphicon glyphicon-edit" ng-click="editFee(x)"></i>-->
                                  <i class="fa fa-trash-o"  ng-click="deleteFee(x)"></i>
                                </td>
                              </div>
                            </tr>
                            </tbody>
                          </table>
                          <div>
            </div>
                      </div>
              

                    
                </div>
              </div>

                    <div ng-show="isSet(2)">
                      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 mbtm">
                      <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 mbtm">
                        <form ng-submit="show()">
                    <select class="form-control" required  ng-change="setStudents()" ng-model="formData.classId"   >
                      <option value="">Class</option>
                      <option data-ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
                   
                    </select > <br><br>
                    <select class="form-control" required ng-model="formData.studentId" ng-change="addInitialPayment()">
                      <option value="">Students</option>
                      <option data-ng-repeat="y in studentsList" value="{{y.id}}">{{y.firstName}}-{{y.lastName}}</option>
                    </select > 
                    <br>
                    <button type="submit" class="btn btn-success uppercase mbtm">Show Fee</button>
</form>                    
                    <!--<button ng-click="addInitialPayment()" class="btn btn-success uppercase mbtm">Generate</button>-->
                    </div>
                    <div class="col-md-2 col-sm-12 col-lg-2 col-xs-12 mbtm">
                    
                    
                    </div>
                

                       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"  style="height:260px;overflow-y:auto;"> 
                              <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead flip-content>
                            <tr>
                              
                                <th>Occurance</th>
                                <th>Fee Type</th>
                                <th>Month</th>
                                <th>Amount</th>
                                <th>AmountPaid</th>
                                <th>Due</th>
                                <th ng-hide="Student">Paid</th>
                                 
                            </tr>
                            </thead>

                            <tbody>
                            <tr data-ng-repeat="x in list">
                              <div data-ng-bind-html="x.id">

                                <td> {{x.feeSetup.occurance}}</td>
                                <td> {{x.feeSetup.feeType}}</td>
                                <td> {{x.feeSetup.month}}</td>
                                <td> {{x.feeSetup.amount}}</td>
                                                                   
                              
                                    <td>{{x.amountPaid}}</td>
                                    <td>{{x.feeSetup.amount - x.amountPaid}}</td>
                                    <td ng-show="x.paid != true"><input type="button"  class="btn btn-default" ng-click="payFee(x)" value="Pay Fee"/></td>
                                    <td ng-show="x.paid == true">Yes</td>
                                    
                            
                   
                              </div>
                            </tr>
                            </tbody>
                          </table>
                          
                          <div>

                    </div>

        </div>
        <!-- END PORTLET-->
      </div>

    </div>
  </div>
</div>

</div>
      </div>
      </div>
  </div>
</div>



