
<script type="text/ng-template" id="deleteGrade">
  <div class="ngdialog-message">
    Confirm Delete
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>

<div class="container">
  <div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 col-sm-12` col-xs-12">
      <!-- BEGIN PORTLET-->

      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md">GRADE LIST</div>
        </div>

        <!-- -----------------------------------Search Form------------------------------->
        <div class="portlet-body" ng-show="!showForm">
          <div class="row list-separated">
            

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success" ng-show="success"> {{responseGrade}}</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger" ng-show="error"> {{responseGrade}}</div>

              <form ng-submit="addGrade()" ng-hide='Student'>
    
      <div  class="col-sm-12 col-xs-12 col-lg-2 col-md-4 mbtm">
        
        <input  type="text" class="form-control" maxlength ="15" placeholder="GradeName" ng-model="formData.gradeName"  required>
      </div>
              <div class="col-sm-12 col-xs-12 col-lg-2 col-md-4 mbtm">
        
        <input  type="number" class="form-control" placeholder="GradePonit" minlength ="1" maxlength="2"  min="1" max="10" ng-model="formData.gradePoint"  required>
      </div>
      <div class="col-sm-12 col-xs-12 col-lg-2 col-md-4 mbtm">
        
        <input  type="number" class="form-control" min="1" max="100" minlength="1" maxlength="3" placeholder="From %" ng-model="formData.percentageRangeFrom"  required>
      </div>

            <div class="col-sm-12 col-xs-12 col-lg-2 col-md-4 mbtm">
        
        <input  type="number" class="form-control" max="100" min="1" placeholder="To %" ng-model="formData.percentageRangeTo" min={{formData.percentageRangeFrom}} required>
      </div>
      <div class="col-sm-12 col-xs-12 col-lg-2 col-md-4 mbtm">
      
     <button type="submit"  class="btn btn-success uppercase">Add Grade</button> <br> <br>
     </div>
    

    </form>
               

<!--Exam Table Starts-->
              <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12"  style="height:260px;overflow-y:auto;">
                                    
                <table class="table table-bordered table-striped table-condensed flip-content">
                  <thead flip-content>
                  <tr>
                    <th><a ng-click="sortType = 'gradeName'; sortReverse = !sortReverse">Grade Name</a></th>
                    <th><a ng-click="sortType = 'gradePoint'; sortReverse = !sortReverse">Grade Point</a></th>
                    <th><a ng-click="sortType = 'percentageRangeFrom'; sortReverse = !sortReverse">From %</a></th>
                    <th><a ng-click="sortType = 'percentageRangeTo'; sortReverse = !sortReverse">To %</a></th>
                    <th ng-show="Admin">Option</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr data-ng-repeat="x in gradesList | filter:search |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                    <div data-ng-bind-html="x.id">

                      <td>{{x.gradeName}}</td>
                      <td>{{x.gradePoint}}</td>
                      <td>{{x.percentageRangeFrom}}</td>
                      <td>{{x.percentageRangeTo}}</td>
                      
                    <td ng-show="Admin">{{x.option}}
                        <!--<i class="fa fa-pencil-square-o" ng-click="editGrade(x)"></i>-->
                        <i class="fa fa-trash-o"  ng-click="deleteGrade(x)"></i>

                      </td>
                    </div>
                  </tr>
                  </tbody>
                </table>
                <div class="pull-left">
                  Total Results: {{gradesList.length}}
                </div>
                <div class="pull-right">
                  <button  ng-disabled="currentPage == 0"                        ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                  <button  ng-disabled="currentPage >= gradeList.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>
                </div>
              </div>
<!--Exam Table Ends-->
              
             


            </div>
          </div>
        </div>
      </div>
