<script type="text/ng-template" id="deleteLibrary">
  <div class="ngdialog-message">
    <h3>Confirm Delete</h3>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<script type="text/ng-template" id="editLibrary">
  <div class="ngdialog-message">
    <h3>Edit Book</h3>
    <div class="ngdialog-contents">
      <form ng-submit="closeThisDialog(formData)">
        <input  type="text" class="form-control" maxlength="50" minlength="1"    placeholder="Name"   ng-value="name"    ng-model="formData.name" ng-mouseover="tag1=true" required ng-mouseleave="tag1=false"><div class="tag1" ng-show="tag1">Name</div><br>
        <input  type="text" class="form-control"   placeholder="Author" maxlength="30" minlength="1"  ng-value="author"      required        ng-model="formData.author" ng-mouseover="tag2=true" ng-mouseleave="tag2=false"><div class="tag2" ng-show="tag2">Author</div><br>
        <textarea rows="4" cols="50" class="form-control" placeholder="Description"  required ng-model="formData.description" ng-mouseover="tag3=true" ng-mouseleave="tag3=false"></textarea><div class="tag3" ng-show="tag3">Description</div><br>
        <input  type="number" class="form-control" placeholder="Price"      ng-value="price" minlength="1" maxlength="4" min="1" max="9999"    required     ng-model="formData.price" ng-mouseover="tag4=true" ng-mouseleave="tag4=false"><div class="tag4" ng-show="tag4">Price</div><br>
        <input  type="number" class="form-control" placeholder="No.of Books Available" ng-value="available" required ng-model="formData.available" ng-mouseover="tag5=true" ng-mouseleave="tag5=false"><div class="tag5" ng-show="tag5">No.Of Books Available</div><br>
        <button type="submit" class="btn btn-success uppercase">Save</button>
        <button type="button" class="btn btn-success uppercase" ng-click=closeThisDialog("Cancel")>Cancel</button>

      </form>
    </div>
    </div>
</script>

<script type="text/ng-template" id="addBook">
  <div class="ngdialog-message">
    <h1>Add Book</h1>
    <form ng-submit="closeThisDialog(formData)">
      <div>
        <input  type="text" class="form-control" placeholder="Name" maxlength="50" minlength="1"   ng-model="formData.name"   required><br>
        <input  type="text" class="form-control" placeholder="Author " maxlength="30" minlength="1" ng-model="formData.author" required></input><br>
        <textarea rows="4" cols="50" class="form-control" placeholder="Description"  required ng-model="formData.description" ng-mouseover="tag3=true" ng-mouseleave="tag3=false"></textarea><div class="tag3" ng-show="tag3">Description</div><br>

        <input  type="number" class="form-control" placeholder="Price"      ng-value="price"   minlength="1" maxlength="4" min="1" max="9999"   required     ng-model="formData.price" ng-mouseover="tag4=true" ng-mouseleave="tag4=false"><div class="tag4" ng-show="tag4">Price</div><br>
        <input  type="number" class="form-control" placeholder="No.of Books Available" ng-value="available" required ng-model="formData.available" ng-mouseover="tag5=true" ng-mouseleave="tag5=false"><div class="tag5" ng-show="tag5">No.Of Books Available</div><br>
        <button type="submit" class="btn btn-success uppercase">Save</button>
        <button type="button" class="btn btn-success uppercase" ng-click=closeThisDialog("Cancel")>Cancel</button>


    </form>
    <div class="ngdialog-buttons">
    </div>
  </div>
</script>


<div class="container">
  <div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- BEGIN PORTLET-->

      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md">LIBRARY</div>
          <button class="btn btn-success uppercase pull-right" ng-click="addLibrary()">ADD BOOK</button>
        </div>

        <!-- -----------------------------------Search Form------------------------------->
        <div class="portlet-body" ng-show="!showForm">
          <div class="row list-separated">
            <!---->


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"style="min-height:50px">
                  <input  type="text"   class="form-control" placeholder="Name" 				 ng-model="search.name"        required><br>
                  <input  type="text"   class="form-control" placeholder="Author"    			 ng-model="search.author"      required><br>
                  <textarea rows="4" cols="50" class="form-control" placeholder="Description"  ng-model="search.description" required></textarea><br>

                </div>



              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"  style="height:260px;overflow-y:auto;" >
			               <div class="alert alert-success"  ng-show ="success"   >{{responseAddLibrary}} </div>
			               <div  class="alert alert-error" ng-show ="error" >{{responseAddLibrary}} </div>
                     
                <table class="table table-bordered table-striped table-condensed flip-content">
                  <thead flip-content>
                  <tr>
                    <th>#</th>
                    <th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">BookName</a></th>
                    <th><a ng-click="sortType = 'author'; sortReverse = !sortReverse">Author</a></th>
                    <th><a ng-click="sortType = 'description'; sortReverse = !sortReverse">Description</a></th>
                    <th><a ng-click="sortType = 'price'; sortReverse = !sortReverse">Price</a></th>
                    <th><a ng-click="sortType = 'available'; sortReverse = !sortReverse">No.Of Books Available</a></th>
                    <th ng-show="Admin">Option</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr data-ng-repeat="x in libraryList |filter:search | orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                    <div data-ng-bind-html="x.id">
                      <td>{{$index+1}}</td>
                      <td>{{x.name}}</td>
                      <td>{{x.author}}</td>
                      <td>{{x.description}}</td>
                      <td>{{x.price}}</td>
                      <td>{{x.available}}</td>
                      <td ng-show="Admin"><div>
                        <i class="glyphicon glyphicon-edit" ng-model="collapsed1" ng-click="editLibrary(x)"></i>
                        <i class="glyphicon glyphicon-remove"  ng-click="deleteLibrary(x)"></i>
                      </div>
</td>
                    </div>
                  </tr>
                  </tbody>
                </table>
				  <button ng-disabled="currentPage == 0"               ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
              <button ng-disabled="currentPage >= libraryList.length/pageSize-1"   ng-click="currentPage=currentPage+1">Next</button></div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
