
<div class="container">
    <div class="row margin-top-10">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">LOGIN FORM</div>
                </div>
                <!-- -----------------------------------Search Form------------------------------->
				<br><br><br><br><br>
              <a ui-sref="login.admin">Admin</a>
              <a ui-sref="login.student">Student</a>
              <a ui-sref="login.parent">Parent</a>
              <a ui-sref="login.staff">Staff</a>
			   <div class="portlet-body">
                             <div ui-view></div>


				<div class="portlet-body">
				</div>

        </div>
    </div>
</div>


