<div class="container">
  <div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 col-sm-12` col-xs-12">
      <!-- BEGIN PORTLET-->

      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md">MEDIA UPLOADS</div>
        <div class="caption caption-md pull-right">
          <button class="btn btn-default" ng-class="{ active: isSet(1) }" href ng-click="setTab(1)">Image Uploads</button>
          <button class="btn btn-default" ng-class="{ active: isSet(2) }" href ng-click="setTab(2)">Video Uploads</button>
        </div>
        </div>
     
        

         <!-------------------------------------Search Form------------------------------->
          <!-- -------------------------------------------------------------------->
        <div class="row list-separated">

          <div class="row">

         <!-----------------------------TabS Code ------->
         <!------------------------------------------------------------------------>
         <!--                               TAB 1                                ->
         <!------------------------------------------------------------------------>
            
          <div ng-show="isSet(1)">
              <div class="col-sm-12">           

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success" ng-show="success"> {{responsemediaUpload}}</div>
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger" ng-show="error"> {{responsemediaUpload}}</div>
            </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mbtm">
                <form ng-submit="imageUpload()" >
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mbtm">
                    <input type="text" class="form-control " placeholder="image Url"  ng-model="image" required> <br>      
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mbtm">
                  <button type="submit" class="btn btn-success uppercase">Image Upload</button><br>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!------------------------------------------------------------------------>
            <!--                               TAB 2                                 ->
            <!------------------------------------------------------------------------>
            <div ng-show="isSet(2)">
              <div class="col-sm-12">  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-success" ng-show="success"> {{responsemediaUpload}}</div>
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger" ng-show="error"> {{responsemediaUpload}}</div>
            </div>         
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mbtm">
                <form ng-submit="videoUpload()" >
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mbtm">
                    <input type="text" class="form-control " placeholder="video Url"  ng-model="video" required> <br>      
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mbtm">
                  <button type="submit" class="btn btn-success uppercase">Video Upload</button><br>
                  </div>
                </form>
              </div>
            </div>
          </div>

        




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
