<script type="text/ng-template" id="editNotice">
  <div class="ngdialog-message">
    <h2>Edit Notice</h2>
    <form ng-submit="confirm(formData)">
        <input  type="text" class="form-control newTitle" placeholder="Title" ng-model="formData.title" ng-value="title"  ng-mouseup="tag1=true"  ng-mouseleave="tag1=false"     required><div class="tag1" ng-show="tag1">Enter Title</div><br>
        <textarea rows="4" cols="50" class="form-control" placeholder="Description of Notice" ng-value="description" ng-model="formData.description"   ng-mouseup="tag2=true"  ng-mouseleave="tag2=false"     required></textarea><div class="tag2" ng-show="tag2">Enter Description</div><br>
        <!--<input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date1" ng-value="date1"  ng-mouseup="tag3=true"  ng-mouseleave="tag3=false"     required><div class="tag3" ng-show="tag3">Enter From Date</div><br>-->
        <input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date1"  ng-mouseup="tag3=true"  ng-mouseleave="tag3=false"     required><div class="tag3" ng-show="tag3">Enter From Date</div><br>
        <!--<input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date2" ng-value="date2"   ng-mouseup="tag4=true"  ng-mouseleave="tag4=false"     required><div class="tag4" ng-show="tag4">Enter To Date</div><br>-->
        <input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date2"  ng-mouseup="tag4=true"  ng-mouseleave="tag4=false"     required><div class="tag4" ng-show="tag4">Enter To Date</div><br>
        <!--<input type = "file" file-model = "myFile" class="form-control" ng-model="formData.uploadFile"><br>-->
        <button type="submit" class="btn btn-success uppercase">Save</button>
        <button type="button" class="btn btn-success uppercase" ng-click=closeThisDialog("Cancel")>Cancel</button>
    </form>



  </div>
</script>

<script type="text/ng-template" id="deleteNotice">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<script type="text/ng-template" id="addNotice">
  <div class="ngdialog-message">
    <h1>Add Notice</h1>
    <form ng-submit="confirm(formData)">
      <div>
        <input  type="text" class="form-control" placeholder="Title" ng-model="formData.title"    ng-mouseup="tag5=true"  ng-mouseleave="tag5=false"  required><div class="tag5" ng-show="tag5">Enter Title</div><br>
        <textarea rows="4" cols="50" class="form-control" placeholder="Description of Notice " ng-model="formData.description"   ng-mouseup="tag6=true"  ng-mouseleave="tag6=false"     required></textarea><div class="tag6" ng-show="tag6">Enter Description</div><br>
        <input  type="date"  max="9999-12-31" max="0001-01-01"  class="form-control"  ng-model="formData.date1"   ng-mouseup="tag7=true"  ng-mouseleave="tag7=false"     required><div class="tag7" ng-show="tag7">Enter From Date</div><br>
        <input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date2"  ng-mouseup="tag8=true"  ng-mouseleave="tag8=false"     required><div class="tag8" ng-show="tag8">Enter To Date</div><br>
        <!--<input type = "file" file-model = "myFile" class="form-control"><br>-->
        <button type="submit"  class="btn btn-success uppercase">Post Notice</button></div>


    </form>
    <div class="ngdialog-buttons">
         </div>
  </div>
</script>

<div class="container">
<div class="row margin-top-10">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- BEGIN PORTLET-->

    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption caption-md">NOTICEBOARD</div>
        <button ng-hide='Student' class="btn btn-success uppercase pull-right" ng-click="addNotice()">ADD NOTICE</button>
      </div>

      <!-- -----------------------------------Search Form------------------------------->
      <div class="portlet-body" ng-show="!showForm">
        <div class="row list-separated">
          <!---->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-show="error"  class="alert alert-danger">{{responseNotice}}</div>
                    <div ng-show="success" class="alert alert-success">{{responseNotice}}</div>
                </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form>
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"style="min-height:50px">
                <input  type="text" class="form-control" placeholder="Title" ng-model="search.title"  required><br>
                <input  type="text" class="form-control" placeholder="Description" ng-model="search.description"  required><br>
            </form>
          </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"  style="height:260px;overflow-y:auto;">
              
              <table class="table table-bordered table-striped table-condensed flip-content">
                <thead flip-content>
                <tr>
                  <th>#</th>
                  <th><a ng-click="sortType = 'title'; sortReverse = !sortReverse">Title</a></th>
                  <th><a ng-click="sortType = 'description'; sortReverse = !sortReverse">Description</a></th>
                  <th><a ng-click="sortType = 'date1'; sortReverse = !sortReverse">From</a></th>
                  <th><a ng-click="sortType = 'date2'; sortReverse = !sortReverse">To</a></th>
                  <!--<th>Attachment</th>-->
                  <th ng-show="Admin">Option</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-repeat="x in filtered=( noticeList | filter:search) |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                  <div data-ng-bind-html="x.id">
                    <td>{{$index+1}}</td>
                    <td>{{x.title}}</td>
                    <td>{{x.description}}</td>
                    <td>{{x.date1 | date:'MM/dd/yyyy'}}</td>
                    <td>{{x.date2 | date:'MM/dd/yyyy'}} </td>
                    <!--<td style="width: 20%"><a href="{{x.uploadFile}}" target="_blank"/>Download</td>-->
                    <td ng-show="Admin">{{x.option}}
                      <i class="fa fa-pencil-square-o" ng-click="editNotice(x)"></i>
                      <i class="fa fa-trash-o"  ng-click="deleteNotice(x)"></i>

               </td>
                  </div>
                </tr>
                </tbody>
               </table>
                 <div class="pull-left">
                      Total Results: {{noticeList.length}}||Filtered Results :{{ filtered.length}}
                 </div>
              <div class="pull-right">
                      <button  ng-disabled="currentPage == 0"                        ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                      <button  ng-disabled="currentPage >= filtered.length/pageSize-1" ng-click="currentPage=currentPage+1">Next</button>
                 </div>
            </div>

          </div>
        </div>
      </div>
