<div class="row list-separated">
  <form name="form" ng-submit="login('P')">
    <center>
      <span class="caption caption-md">PARENT</span>

      <div class="alert alert-warning" ng-show="invalidLogin">
        <strong>Invalid Username or Password</strong> 
    </div>
      <div class="form-group" style="width:50%">

        <input class="form-control form-control-solid placeholder-no-fix" type="text" ng-model="user.email" placeholder="Email">

      </div>
      <div class="form-group" style="width:50%">

        <input class="form-control form-control-solid placeholder-no-fix" type="password"ng-model="user.password" placeholder="password">

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success uppercase">Login</button>
      </div>
    </center>
  </form>
</div>
