<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
      <!-- BEGIN PORTLET-->

        <div class="portlet light ">
            <div class="portlet-title">
		        <div class="caption caption-md">
                  <span class="caption-subject uppercase">Timetable</span>
		        </div>
		     </div>

        <!-- -----------------------------------Search Form------------------------------->
            <div class="portlet-body">
               <div class="row list-separated">
			        <div class="col-sm-12">
		              <div ng-hide="Student || Parent" class="col-sm-3">
            <select ng-model="class" ng-change="loadSchedule()" class="form-control">
              <option value="">Class </option>
              <option ng-repeat="y in classList"  value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
            </select>
             </div>
			          <div class="col-sm-9"><span>{{response}}</span>
								<div class="portlet-body-morris-fit morris-chart flip-scroll" style="margin-right:0px;margin-left:0px;margin-bottom:0px;height:max">
                  <div style="height: 500px; overflow: auto;">
								  		  <table class="table table-bordered table-striped table-condensed flip-content">
									<thead flip-content>
									<tr>

									  <td>Periods</td>
									  <td>Monday</td>
									  <td>Tuesday</td>
									  <td>Wednesday</td>
									  <td>Thursday</td>
									  <td>Friday</td>
									  <td>Saturday</td>
									</tr>
									</thead>

									<tr ng-show="Admin" ng-repeat = "subject in scheduleList">
									                         <td colspan="10" ng-show="subject.attendance == false">
									 <center>{{ subject.title}}</center></td>


								    <td ng-show="subject.attendance == true">{{ subject.startTime | date:'hh:mm'}}-{{subject.endTime | date:'hh:mm'}}</td>
									  <td ng-show="subject.attendance == true"><select ng-model="subject.Monday" class="form-control id" required>
										<option value="">Subject</option>
										<option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
									  </select>
									  </td>
									  <td ng-show="subject.attendance == true"><select ng-model="subject.Tuesday" class="form-control" required>
										<option value="">Subject</option>
										<option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
									  </select>
									  </td>
									  <td ng-show="subject.attendance == true"><select ng-model="subject.Wednesday" class="form-control" required>
										<option value="">Subject</option>
										<option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
									  </select>
									  </td>
									  <td ng-show="subject.attendance == true"><select ng-model="subject.Thursday" class="form-control" required>
										<option value="">Subject</option>
										<option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
									  </select>
									  </td>
									  <td ng-show="subject.attendance == true"><select ng-model="subject.Friday" class="form-control" required>
										<option value="">Subject</option>
										<option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
									  </select>
									  <td ng-show="subject.attendance == true"><select ng-model="subject.Saturday" class="form-control" required>
										<option value="">Subject</option>
										<option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
									  </select>
									  </td>
									</tr>
                    <tr ng-show="Student || Parent || Staff" ng-repeat = "subject in scheduleList">
                      <td colspan="10" ng-show="subject.attendance == false">
                        <center>{{ subject.title}}</center></td>


                      <td ng-show="subject.attendance == true">{{ subject.startTime | date:'hh:mm'}}-{{subject.endTime | date:'hh:mm'}}</td>

                      <td ng-show="subject.attendance == true"><select ng-model="subject.Monday" ng-disabled="Student || Staff || Parent" class="form-control id" required>
                        <option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
                      </select>
                      </td>
                      <td ng-show="subject.attendance == true"><select ng-model="subject.Tuesday" ng-disabled="Student || Staff || Parent" class="form-control" required>
                        <option value="">Not Selected</option>
                        <option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
                      </select>
                      </td>
                      <td ng-show="subject.attendance == true"><select ng-model="subject.Wednesday" ng-disabled="Student || Staff || Parent" class="form-control" required>
                        <option value="">Not Selected</option>
                        <option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
                      </select>
                      </td>
                      <td ng-show="subject.attendance == true"><select ng-model="subject.Thursday" ng-disabled="Student || Staff || Parent" class="form-control" required>
                        <option value="">Not Selected</option>
                        <option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
                      </select>
                      </td>
                      <td ng-show="subject.attendance == true"><select ng-model="subject.Friday" ng-disabled="Student || Staff || Parent" class="form-control" required>
                        <option value="">Not Selected</option>
                        <option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
                      </select>
                      <td ng-show="subject.attendance == true"><select ng-model="subject.Saturday" ng-disabled="Student || Staff || Parent" class="form-control" required>
                      <option value="">Not Selected</option>
                        <option ng-repeat="y in subjectList" value="{{y.id}}">{{y.subjectName}}</option>
                      </select>
                      </td>
                    </tr>

								  </table>
													<center> <button class="form-control" ng-show="Admin" ng-click="saveSchedule()">Save</button> </center>

											</div>
											</div>

          </div>
              </div>
                    </div>
                </div>
			</div>
         </div>
    </div>

</div>
