<script type="text/ng-template" id="deleteSubject">
  <div class="ngdialog-message">
    <h3>Confirm Delete</h3>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="addSubject">
  <div class="ngdialog-message">
    <h3>Add Subject</h3>
    <form ng-submit="confirm(formData)">
      <div class="col-sm-12">

           <input  type="text" class="form-control" placeholder="Subject Name" ng-model="formData.subjectName" required>
              <br>
                <select ng-model="formData.classSelected" id="repeatSelect1" class="form-control" required>
                  <option value="">Class-Section</option>
                  <option ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
                </select>
                <br>

              <br>
              <select ng-model="formData.staffSelected" id="repeatSelect2" class="form-control" required>
                  <option value="">Select Teacher</option>
                  <option ng-repeat="option1 in staffList" value=" {{option1.id}}">{{option1.firstName}} {{option1.lastName}}</option>
                </select>


               <br>
                 <button type="submit"  class="btn btn-success uppercase">Add Subject</button>
        </div>
    <div class="ngdialog-buttons">
    </div>
  </div>
</script>




<div class="container">
  <div class="row margin-top-10">
    <div class=" col-sm-12" >
      <!------------------------------------------------ BEGIN PORTLET------------------------------------------>
       <div class="portlet light " style="height:max;">
        <div class="portlet-title">
          <div class="caption caption-md col-sm-12">
            <span class="caption-subject uppercase col-sm-4">Subjects</span><span class="caption-subject uppercase col-sm-6"></span>
            <span class="caption-subject btn btn-success uppercase col-lg-2 col-md-2 col-sm-12 col-xs-12" ng-show="Admin" ng-click="addSubject() ;clearResponse()"> Add Subject</span>
          </div>
        </div>
        <div class="portlet-body">
              <div class="row list-separated">

                <!--<div class="col-sm-12">-->
                     <!--<div class="col-sm-2"> <input type = "file" file-model = "myFile" class="form-control"/></div>-->
                    <!--<div class="col-sm-2"> <button class="btn btn-success" ng-click = "uploadFile()">upload me</button></div>-->
                <!--</div>-->
                <div class="col-sm-12">
                  <div ng-show="error"   class="alert alert-danger  col-lg-12 col-md-12 col-sm-12 col-xs-12">{{responseAddSubject}}</div>
                  <div ng-show="success" class="alert alert-success col-lg-12 col-md-12 col-sm-12 col-xs-12">{{responseAddSubject}}</div>
                </div>



              <!---->
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div ng-hide="Student" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <select ng-model="search.class.id" class="form-control">
                  <option value="">Class </option>
                  <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                </select>

              <br>
                <input type="text" ng-model="search.staff.firstName" placeholder="Search By Teacher" class="form-control">
              <br>
                <input type="text" ng-model="search.subjectName" placeholder="Search By Subject" class="form-control"> </input>
              </div>
              <div  class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div ng-hide="Student">
                  Total Results : {{subjectList.length}} | Filtered Results : {{filtered.length}}
                </div> 
                               <div ng-show="Student" class="pull-right">
                Class Teacher : {{firstName}} {{lastName}}
                </div>
              <!--<div class="portlet-body-morris-fit morris-chart flip-scroll" style="height: max">-->
              <table class="table table-bordered table-striped table-condensed flip-content" >
                <thead flip-content><tr>
        				  <th><a ng-click="sortType = 'subjectName'; sortReverse = !sortReverse">Subject</a></th>
                  <th><a ng-click="sortType = 'className'; sortReverse = !sortReverse">Class</a></th>
                  <th><a ng-click="sortType = 'staff.firstName'; sortReverse = !sortReverse">Teacher</a></th>
                  <th ng-show="Admin">Exam Enabled</th>
                  <th ng-show="Admin">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="a in  filtered = (subjectList | filter:search) | orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                  <td>{{a.subjectName}}</td>
                  <td>{{a.class.className}}-{{a.class.sectionName}}</td>
                  <td ng-hide="Admin">{{a.staff.firstName}} {{a.staff.lastName}}</td>
                
                  <td ng-show="Admin">
						  <address style="height:0.5px" ng-hide="editsubject">{{a.staff.firstName}} {{a.staff.lastName}}</address>
						  <select ng-show="editsubject" ng-model="a.staff.id" class="form-control Staff" required>
							  <option value="">Teacher</option>
							  <option ng-repeat="y in staffList" value="{{y.id}}">{{y.firstName}} {{y.lastName}}</option>
							</select>
				  </td>  <td ng-show="Admin"> <input type="checkbox" ng-model="a.examFlag" ng-click="addExamEligibility(a)"</td>
                  <td ng-show="Admin">
                      <i class="fa fa-pencil-square-o" ng-hide="editsubject" ng-click="clearResponse();editsubject=true"></i>
                      <i class="fa fa-floppy-o"       ng-show="editsubject" ng-click="updateSubject(a)"></i>
                      <i class="fa fa-trash-o"  ng-click="deleteSubject(a)"></i>
                   </td>
                </tbody>
              </table>
                </div>
                <div class="pull-right" ng-hide="Student">
                  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
                  {{currentPage+1}}/{{numberOfPages()}}
                  <button ng-disabled="currentPage >= filtered.length/pageSize-1"   ng-click="currentPage=currentPage+1">Next</button>

              </div>
            </div>

        </div>
         </div>
         </div>
         <!--<div class="portlet-body-morris-fit morris-chart" style="height:120px">-->
      <!--------------------------------------------- END PORTLET------------------------------------------------>
      </div>

    </div>
  </div>
</div>

