<script type="text/ng-template" id="deleteSubject">
  <div class="ngdialog-message">
    <h3>Confirm Delete</h3>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>


<div class="container">
  <div class="row margin-top-10">
    <div class=" col-sm-12">
      <!------------------------------------------------ BEGIN PORTLET------------------------------------------>
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption caption-md col-sm-12">
            <span class="caption-subject uppercase col-sm-4">Subjects</span><span class="caption-subject uppercase col-sm-6"></span>
            <span class="caption-subject uppercase col-sm-2" ng-click="collapsed=!collapsed"> Add Subject</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row list-separated">

            <!---->
            <div class="col-sm-12" ng-show="collapsed">
              <form ng-submit="addSubject()" >
                {{response}}

                <div class="col-sm-2">
                  <input  type="text" class="form-control" placeholder="Subject Name" ng-model="formData.subjectName" required>
                </div>

                <div class="col-sm-2">
                  <select ng-model="formData.classSelected" id="repeatSelect1" class="form-control" required>
                    <option value="">Class-Section</option>
                    <option ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
                  </select>
                </div>

                <div class="col-sm-2">
                  <select ng-model="formData.staffSelected" id="repeatSelect2" class="form-control" required>
                    <option value="">Select Teacher</option>
                    <option ng-repeat="option1 in staffList" value=" {{option1.id}}">{{option1.firstName}}</option>
                  </select>
                </div>

                <div class="col-sm-1">
                  <button type="submit"  class="btn btn-success uppercase">Add Subject</button>
                </div>

                <div class="col-sm-4">

                </div>



              </form>
              <br/><br/><br/>
              <div><span style="color: red; margin-left: 17px">{{formData.response}}</span></div>
            </div>

   <br><br><br><br>
            <!---->
            <div class="col-sm-12">
              <div class="col-sm-3">
                <select ng-model="search.class.id" class="form-control">
                  <option value="">Class </option>
                  <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                </select>

              <br>
                <input type="text" ng-model="search.staff.firstName" placeholder="Search By Teacher" class="form-control">
              <br>
                <input type="text" ng-model="search.subjectName" placeholder="Search By Subject" class="form-control"> </input>
              </div>
              <div class="col-sm-9">
              <div class="portlet-body-morris-fit morris-chart flip-scroll" style="margin-right:0px;margin-left:0px;margin-bottom:0px;height: 260px">
              <table class="table table-bordered table-striped table-condensed flip-content">
                <thead flip-content><tr><th>Subject</th>
                  <th>Class</th>
                  <th>Teacher</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in subjectList | filter:search">
                  <td>{{a.subjectName}}</td>
                  <td>{{a.class.className}}-{{a.class.sectionName}}</td>
                  <td><select ng-model="a.staff.id" class="form-control Staff" required>
                      <option value="">Teacher</option>
                      <option ng-repeat="y in staffList" value="{{y.id}}">{{y.firstName}}</option>
                    </select></td>
                  <td>
                    <div class="col-sm-3">
                      <i class="glyphicon glyphicon-edit" ng-click="updateSubject(a)"></i>
                      <i class="glyphicon glyphicon-remove"  ng-click="deleteSubject(a)"></i>

                   </div>

                  </td>
                </tbody>

              </table>
            </div>
            </div>

          <div class="portlet-body-morris-fit morris-chart" style="height: 260px">
          </div>
        </div>
      </div>
      <!--------------------------------------------- END PORTLET------------------------------------------------>
    </div>
  </div>
</div>
