
<div class="container">
    <div class="row margin-top-10">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->

            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md"> <i class="icon-bar-chart theme-font hide"></i><span class="caption-subject theme-font bold uppercase">Search</span></div>
                    <div class="pull-right"> <button type="button" ng-click="showForm=!showForm" class="btn btn-success uppercase">Admission Forms</button></div>
                </div>

                <!-- -----------------------------------Search Form------------------------------->
                <div class="portlet-body" ng-show="!showForm">
                    <div class="row list-separated">
                        <!--<div> <form ng-submit="processSearch()">-->
                            <!--<div class="col-sm-12">-->
                                <!--<div class="col-sm-3"> <input  type="text" class="form-control" placeholder="Enter Any Name" ng-model="formData.searchString"></div>-->
                                <!--<div class="col-sm-2"><select class="form-control" ng-model="formData.ClassSelected">-->
                                    <!--<option value="">Select</option>-->
                                    <!--<option ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>-->
                                <!--</select>-->
                                <!--</div>-->
                                <!--<div class="col-sm-2"> <input type="number" ng-show="!disableRollNum" class="form-control" min="0" placeholder="Roll No" ng-model="formData.rollNumber"></div>-->
                                <!--<div class="col-sm-3"> <input type="checkbox" ng-model="formData.staffSearch" ng-click="disableRollNum=!disableRollNum" >Staff</div>-->
                               <!--<div class="col-sm-1"> <button type="submit" name ="Search" class="btn btn-success uppercase">Search</button></div>-->

                            <!--</div>-->

                        <!--</form></div>-->
                      <div class="col-sm-12">
                        <div class="col-sm-2">
                          <input type="text" ng-model="search.username" placeholder="Search By Name" class="form-control"> </input>
                        </div>
                        <div class="col-sm-2">
                          <input type="text" ng-model="search.rollNo" placeholder="Search By Roll Number" class="form-control"> </input>
                        </div>

                        <div class="col-sm-2">
                          <select ng-model="search.class.id" class="form-control">
                            <option value="">Class </option>
                            <option ng-repeat="y in classList" value="{{y.id}}">{{y.className}}-{{y.sectionName}}</option>
                          </select>
                         </div>
                        <div class="col-sm-2">
                          <button  ng-click="processSearch()" class="btn btn-success uppercase">Search </button>
                        </div>
                        <div>
                          <table class="ui celled table">
                                <thead><tr><th>Photo</th><th>First Name</th><th>Email</th><th>Roll No</th><th>Class/Section</th><th>Contact</th></tr></thead>
                                <tbody><tr data-ng-repeat="x in searchList | filter:search"><td>{{x.image}}</td><td>{{x.username}}</td><td>{{x.email}}</td><td>{{x.rollNo}}</td><td>{{x.class.className}}-{{x.class.sectionName}}</td><td>{{x.contact}}</td>
                                </tbody>
                                  <tfoot> <tr><th colspan="3">
                              <div class="ui right floated pagination menu">
                                <a class="icon item">
                                  <i class="left chevron icon"></i>
                                </a>
                                <a class="item">1</a>
                                <a class="item">2</a>
                                <a class="item">3</a>
                                <a class="item">4</a>
                                <a class="icon item">
                                  <i class="right chevron icon"></i>
                                </a>
                              </div>
                            </th></tr></tfoot>
                          </table>

                        </div>
                        <div class="portlet-body-morris-fit morris-chart" style="height: 260px"></div>
                    </div>

                </div>

                <div class="portlet-body" ng-show="showForm">
                <div  class="row margin-top-10" >
                                <div class="col-sm-12">
                                 <div class="col-sm-2" ng-show="!collapsed1"><button type="button" ng-click="collapsed=!collapsed"   class="btn btn-success">Add Student</button></div>
                                 <div class="col-sm-2" ng-show="!collapsed"><button type="button"  ng-click="collapsed1=!collapsed1" class="btn btn-success">Add Staff  </button></div>
                                </div>
                                    <div ng-show="collapsed">
                                        <form id="signup-form" name='studentForm' class="login-form"  ng-submit="addStudent()" >
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4"></div>
                                                    <div class="col-sm-4"><h4><b>Student Information</b></h4></div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><input  type="text" class="form-control" placeholder="First Name"  ng-model="formData.studentFirstName"  ng-mouseup="tag1=true" ng-mouseleave="tag1=false" style="width:50%" required><div class="tag1" ng-show="tag1">Enter First Name</div><br></div>
                                                    <div class="col-sm-6"><input  type="text" class="form-control" placeholder="Last Name"   ng-model="formData.studentLastName"   ng-mouseup="tag2=true" ng-mouseleave="tag2=false" style="width:50%" required><div class="tag2" ng-show="tag2">Enter Last  Name</div><br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><input  type="text" class="form-control" placeholder="Email"       ng-model="formData.studentEmail"      ng-mouseup="tag3=true" ng-mouseleave="tag3=false" style="width:50%" required><div class="tag3" ng-show="tag3">Enter Email   </div><br></div>
                                                    <div class="col-sm-6"><input  type="password" class="form-control" placeholder="Password"    ng-model="formData.studentPassword"   ng-mouseup="tag4=true" ng-mouseleave="tag4=false" style="width:50%" required><div class="tag4" ng-show="tag4">Enter Password</div><br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><input  type="text" class="form-control" placeholder="RollNo"      ng-model="formData.studentRollNo"     ng-mouseup="tag5=true" ng-mouseleave="tag5=false" style="width:50%" required><div class="tag5" ng-show="tag5">Enter Roll Number</div><br></div>
                                                    <div class="col-sm-6"><input  type="text" class="form-control" placeholder="Reg Id"      ng-model="formData.studentRegId"      ng-mouseup="tag6=true" ng-mouseleave="tag6=false" style="width:50%" required><div class="tag6" ng-show="tag6">Enter Registered Id</div><br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><select class="form-control"   ng-model="formData.studentGender"  style="width:50%">
                                                            <option value="">Gender</option>
                                                            <option value="F">Female</option>
                                                            <option value="M">Male</option>
                                                        </select > <br></div>
                                                    <div class="col-sm-6"><select class="form-control"  required ng-model="formData.studentClass"   style="width : 50%;" required>
                                                        <option value="">Class-Section</option>
                                                        <option ng-repeat="x in classList" value="{{x.id}}">{{x.className}}-{{x.sectionName}}</option>
                                                    </select> <br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><input  type="date" class="form-control" ng-model="formData.studentDateOfBirth" ng-mouseup="tag7=true" ng-mouseleave="tag7=false" style="width:50%" required>	<br><div class="tag7" ng-show="tag7">Date Of Birth</div><br></div>
                                                    <div class="col-sm-6"><input  type="date" class="form-control" ng-model="formData.studentDateOfJoin"  ng-mouseup="tag8=true" ng-mouseleave="tag8=false" style="width:50%" required> <br><div class="tag8" ng-show="tag8">Joining Date</div><br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><input type="text"                         class="form-control" placeholder="RFID"  ng-model="formData.studentRFID"  ng-mouseup="tag9=true" ng-mouseleave="tag9=false"	style="width:50%"><br><div class="tag9" ng-show="tag9">RFID</div><br></div>
                                                    <div class="col-sm-6"><input type = "file" file-model = "myFile" class="form-control" placeholder="Image" ng-model="formData.studentImage" ng-mouseup="tag10=true" ng-mouseleave="tag10=false"	style="width:50%"><br><div class="tag10" ng-show="tag10">Profile Image</div><br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6"><input  type="text" class="form-control" placeholder="Previous School"  ng-model="formData.studentPreviousSchool"  ng-mouseup="tag11=true" ng-mouseleave="tag11=false" style="width:50%" >	<br><div class="tag11" ng-show="tag11">Previous School</div><br></div>
                                                    <div class="col-sm-6"><input type = "file" file-model = "myFile" class="form-control" ng-model="formData.studentImage" ng-mouseup="tag12=true" ng-mouseleave="tag12=false"	style="width:50%"><br></div><div class="tag12" ng-show="tag12">Previous School TC</div><br></div>
                                                <div class="col-sm-12">
                                                <div class="col-sm-6"><input  type="text" class="form-control" placeholder="Status"     ng-model="formData.studentStatus"       ng-mouseup="tag13=true" ng-mouseleave="tag13=false" style="width:50%" ><div class="tag13" ng-show="tag13">Status</div><br></div>
                                                <div class="col-sm-6"><input  type="text" class="form-control" placeholder="isDisabled" ng-model="formData.studentIsDisable"   ng-mouseup="tag14=true" ng-mouseleave="tag24=false" style="width:50%" ><div class="tag14" ng-show="tag14">Is Disabled</div><br></div>
                                                </div>
                                                <div class="col-sm-12">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4"></div>
                                                    <div class="col-sm-4"><h4><b>Personal Information</b></h4></div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                                <br><br>
                                                <div class="col-sm-6">
                                                    <input  type="text" class="form-control" placeholder="Permanent Address"   ng-model="formData.studentPermanentAddress"   	style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Permanent city"      ng-model="formData.studentPermanentCity"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Permanent State"     ng-model="formData.studentPermanentState"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Permanent Pincode"   ng-model="formData.studentPermanentPincode"   	style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="National ID Type"    ng-model="formData.studentNationalIdType"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Mother Tounge"       ng-model="formData.studentMotherTounge"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="SubCaste"   		   ng-model="formData.studentSubCaste"   			style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Contact Number"      ng-model="formData.studentContact"   			style="width:50%"><br>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input  type="text" class="form-control" placeholder="Current Address"   	ng-model="formData.studentCurrentAddress"   	style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Current city"      	ng-model="formData.studentCurrentCity"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Current State"     	ng-model="formData.studentCurrentState"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Current Pincode"   	ng-model="formData.studentCurrentPincode"   	style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="National ID"    		ng-model="formData.studentNationalId"   		style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Blood Group"    	 	ng-model="formData.studentBloodGroup"   		style="width:50%" required><br>
                                                    <input  type="text" class="form-control" placeholder="Religion"       	 	ng-model="formData.studentReligion"   			style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Caste"   		     	ng-model="formData.studentCaste"   				style="width:50%"><br>
                                                    <input  type="text" class="form-control" placeholder="Alternate Contact No" ng-model="formData.studentAlternateContact"   	style="width:50%"><br>
                                                </div>
                                            </div>
                                                <div class="col-sm-12">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4"></div>
                                                    <div class="col-sm-4"><h4><b>Parent Information</b></h4></div>
                                                    <div class="col-sm-4"></div>
                                                </div><br><br>
                                                <div class="col-sm-6">
                                                    <input  type="text"     class="form-control" placeholder="FirstName"   		   ng-model="formData.fatherFirstName"   			style="width:50%"><br>
                                                    <input  type="text"     class="form-control" placeholder="LastName"      	   ng-model="formData.fatherLastName"    			style="width:50%"><br>
                                                    <input  type="email"    class="form-control" placeholder="Email"     		   ng-model="formData.fatherEmail"   	 			style="width:50%"><br>
                                                    <input  type="password" class="form-control" placeholder="Password"   	       ng-model="formData.fatherPassword"    			style="width:50%"><br>
                                                    <input  type="text"     class="form-control" placeholder="Contact Number"      ng-model="formData.fatherPhone"   	 			style="width:50%"><br>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input  type="text"     class="form-control" placeholder="FirstName"   		   ng-model="formData.motherFirstName"   			style="width:50%"><br>
                                                    <input  type="text"     class="form-control" placeholder="LastName"      	   ng-model="formData.motherLastName"   			style="width:50%"><br>
                                                    <input  type="email"    class="form-control" placeholder="Email"     		   ng-model="formData.motherEmail"   				style="width:50%"><br>
                                                    <input  type="password" class="form-control" placeholder="Password"      	   ng-model="formData.motherPassword"   			style="width:50%"><br>
                                                    <input  type="text"     class="form-control" placeholder="Contact Number"      ng-model="formData.motherPhone"   				style="width:50%"><br>
                                                </div>
                                            </div>
                                                <div class="col-sm-12">
                                                <div class="col-sm-4"></div>
                                                <div class="col-sm-4"><button type="submit" name ="Add Student" class="btn btn-success uppercase">Add Student</button><br><span>{{responsemessage}}</span></div>
                                                <div class="col-sm-4"></div>
                                                </div>

                                          </form>
                                    </div>


                <!---------------------------------------------------Staff Form------------------------------------------------------------------------------------------>
                                   <div ng-show="collapsed1">
                                    <form id="signup-form" class="login-form"  ng-submit = "addStaff()" >
                                    <div class="col-sm-12"><div class="col-sm-4"></div><div class="col-sm-4"><h4><b>Staff Information</b></h4></div><div class="col-sm-4"></div></div><br><br>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <input  type="text"   class="form-control"   name="First Name"     placeholder="First Name"    ng-model="formData.staffFirstName"     ng-mouseup="tag1=true" ng-mouseleave="tag1=false"   style="width:50%" required><div class="tag1" ng-show="tag1">Enter First Name</div><br>
                                            <input  type="email"  class="form-control"   name="Email"          placeholder="Email"         ng-model="formData.staffEmail"         ng-mouseup="tag2=true" ng-mouseleave="tag2=false"   style="width:50%" required><div class="tag2" ng-show="tag2">Enter Staff Email</div><br>
                                            <select               class="form-control"                                                            ng-model="formData.staffGender"                                                            style="width:50%" required><option value="">Gender</option><option value="F">Female</option><option value="M">Male</option></select><br>
                                            <input  type="date"   class="form-control"   name="Date of Birth"  placeholder="Date of Birth"  ng-model="formData.staffDateOfBirth"  ng-mouseup="tag10=true" ng-mouseleave="tag10=false"   style="width:50%" required><div class="tag10" ng-show="tag10">Enter Date of Birth</div><br>
                                            <input  type="date"   class="form-control"   name="Joining Date"   placeholder="Joining Date"  ng-model="formData.staffDateOfJoin"    ng-mouseup="tag5=true" ng-mouseleave="tag5=false"   style="width:50%"  required><div class="tag5" ng-show="tag5">Enter Date of Join</div><br>
                                            <input  type="text"   class="form-control"   name="RFID"           placeholder="RFID"          ng-model="formData.staffRFID"          ng-mouseup="tag7=true" ng-mouseleave="tag7=false"   style="width:50%"><div class="tag7" ng-show="tag7">Enter RFID</div>
                                        </div>
                                        <div class="col-sm-6">

                                            <input  type="text"     class="form-control"     name="Last Name"  placeholder="Last Name"      ng-model="formData.staffLastName"     ng-mouseup="tag8=true"  ng-mouseleave="tag8=false"    style="width:50%" required><div class="tag8" ng-show="tag8">Enter Last Name</div><br>
                                            <input  type="password" class="form-control"     name="Password"   placeholder="Password"       ng-model="formData.staffPassword "    ng-mouseup="tag9=true"  ng-mouseleave="tag9=false"    style="width:50%" required><div class="tag9" ng-show="tag9">Enter Password</div><br>
                                            <input  type = "file"   class="form-control"     name="Image "     placeholder="Image "        ng-model="formData.staffImg"    file-model = "myFile"                                      style="width:50%"> <br>
                                            <input  type="text"     class="form-control"     name="Status"     placeholder="Status"         ng-model="formData.staffStatus"       ng-mouseup="tag12=true" ng-mouseleave="tag12=false"   style="width:50%" required><div class="tag12" ng-show="tag12">Enter Status</div><br>
                                            <input  type="text"     class="form-control"     name="Reg Id"     placeholder="Reg Id"         ng-model="formData.staffRegId "       ng-mouseup="tag13=true" ng-mouseleave="tag13=false"   style="width:50%" required><div class="tag13" ng-show="tag13">Enter Reg Id</div><br>
                                            <input  type="text"     class="form-control"     name="Isdisabled  placeholder="Isdisabled"     ng-model="formData.staffIsDisable "   ng-mouseup="tag14=true" ng-mouseleave="tag14=false"   style="width:50%"><div class="tag14" ng-show="tag14">Enter Isdisabled</div>

                                        </div>
                                    </div><br>
                                    <div class="col-sm-12"><div class="col-sm-4"></div><div class="col-sm-4"><h4><b>Personal Information</b></h4></div><div class="col-sm-4"></div></div><br><br>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <textarea           class="form-control" placeholder="Current Address"       ng-model="formData.staffCurrentAddress"   ng-mouseup="tag23=true" ng-mouseleave="tag23=false"   style="width:50%"></textarea><div class="tag23" ng-show="tag23">Enter Temporary Address</div><br>
                                            <input  type="text" class="form-control" placeholder="Current City"          ng-model="formData.staffCurrentCity"      ng-mouseup="tag24=true" ng-mouseleave="tag24=false"   style="width:50%"><div class="tag24" ng-show="tag24">Enter Current City</div><br>
                                            <input  type="text" class="form-control" placeholder="State"                 ng-model="formData.staffCurrentState"     ng-mouseup="tag25=true" ng-mouseleave="tag25=false"   style="width:50%"><div class="tag25" ng-show="tag25">Enter Current State</div><br>
                                            <input  type="text" class="form-control" placeholder="Pincode"               ng-model="formData.staffCurrentPincode"   ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%"><div class="tag26" ng-show="tag26">Enter Current Pincode</div><br>
                                            <input  type="text" class="form-control" placeholder="Blood Group"           ng-model="formData.staffBloodGroup"       ng-mouseup="tag27=true" ng-mouseleave="tag27=false"   style="width:50%"><div class="tag27" ng-show="tag27">Enter Blood Group</div><br>
                                            <input  type="text" class="form-control" placeholder="Religion"              ng-model="formData.staffReligion"         ng-mouseup="tag28=true" ng-mouseleave="tag28=false"   style="width:50%"><div class="tag28" ng-show="tag28">Enter Religion</div><br>
                                            <input  type="text" class="form-control" placeholder="Caste"                 ng-model="formData.staffCaste"            ng-mouseup="tag29=true" ng-mouseleave="tag29=false"   style="width:50%"><div class="tag29" ng-show="tag29">Enter Caste</div><br>
                                            <input  type="text" class="form-control" placeholder="Alternate Contact No"  ng-model="formData.staffAlternateContact" ng-mouseup="tag30=true" ng-mouseleave="tag30=false"   style="width:50%"><div class="tag30" ng-show="tag30">Enter Alternate Contact No</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <textarea           class="form-control" placeholder="Permanent Address"     ng-model="formData.staffPermanentAddress" ng-mouseup="tag15=true" ng-mouseleave="tag15=false"   style="width:50%"></textarea><div class="tag15" ng-show="tag15">Enter Permanent Address</div><br>
                                            <input  type="text" class="form-control" placeholder="Present City"          ng-model="formData.staffPermanentCity"    ng-mouseup="tag16=true" ng-mouseleave="tag16=false"   style="width:50%">           <div class="tag25" ng-show="tag25">Enter Permanent City   </div><br>
                                            <input  type="text" class="form-control" placeholder="State"                 ng-model="formData.staffPermanentState"   ng-mouseup="tag25=true" ng-mouseleave="tag25=false"   style="width:50%">           <div class="tag25" ng-show="tag25">Enter Permanent State  </div><br>
                                            <input  type="text" class="form-control" placeholder="Pincode"               ng-model="formData.staffPermanentPincode" ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%">           <div class="tag26" ng-show="tag26">Enter Permanent Pincode</div><br>
                                            <input  type="text" class="form-control" placeholder="NationalIdType"        ng-model="formData.staffNationalIdType"   ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%">           <div class="tag26" ng-show="tag26">Enter National Id Type </div><br>
                                            <input  type="text" class="form-control" placeholder="NationalId"            ng-model="formData.staffNationalId"       ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%">           <div class="tag26" ng-show="tag26">Enter National Id      </div><br>
                                            <input  type="text" class="form-control" placeholder="MotherTounge"          ng-model="formData.staffMotherToungue"    ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%">           <div class="tag26" ng-show="tag26">Enter Mother Toungue   </div><br>
                                            <input  type="text" class="form-control" placeholder="Sub-Caste"             ng-model="formData.staffSubCaste"         ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%">           <div class="tag26" ng-show="tag26">Enter Sub    Caste     </div><br>

                                        </div>
                                    </div>
                                    <div class="col-sm-12"><div class="col-sm-4"></div><div class="col-sm-4"><h4><b>Qualification Information</b></h4></div><div class="col-sm-4"></div></div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <input  type="text" class="form-control" placeholder="Qualification"    ng-model="formData.staffQualification"    ng-mouseup="tag29=true" ng-mouseleave="tag29=false"   style="width:50%"><div class="tag29" ng-show="tag29">Enter Qualification</div><br>
                                            <input  type="text" class="form-control" placeholder="StaffPercentage"  ng-model="formData.staffAlternateContact" ng-mouseup="tag30=true" ng-mouseleave="tag30=false"   style="width:50%"><div class="tag30" ng-show="tag30">Enter Percentage</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input  type="text"     class="form-control" placeholder="University"     ng-model="formData.staffQualifiedUniversity"    ng-mouseup="tag26=true" ng-mouseleave="tag26=false"   style="width:50%">           <div class="tag26" ng-show="tag26">Enter Qualified University</div><br>
                                            <input  type="checkbox"                                                   ng-model="formData.staffBED">BED

                                        </div>
                                     </div>
                                    <div class="col-sm-12"><div class="col-sm-4"></div><div class="col-sm-4"><button type="submit" name ="staff" class="btn btn-success uppercase">Add Staff</button></div><div class="col-sm-4"></div></div>
                                    </form>
                                </div>
                </div>
                </div>



                </div>
            </div>
        </div>

    </div>
</div>
