<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>




<div class="container">
  <div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
      <!-- BEGIN PORTLET-->

      <div class="portlet light ">
        <div class="portlet-title"><div class="caption caption-md">Timetable</div></div>

        <!-- -----------------------------------Search Form------------------------------->
        <div class="portlet-body">
          <div class="row list-separated">


              <table class="ui celled table">
                <thead>
                <tr>
                  <td><a ng-click="addRecipient()">#  </a></td>
                  <td>Title        </td>
                  <td>Start time   </td>
                  <td>End time</td>
                  <td>Duration(minutes)</td>
                  <td>Attendance</td>
                </tr>
                </thead>

                <tr ng-repeat = "receiver in receivers">
                  <td><a ng-click="addRecipient(receiver)"><i class="icon-plus"></i></a>
                      <a ng-click="deleteRecipient(receiver)"><i class="icon-magnifier-remove"></i></a>
                  </td>
                  <td><input type="text" class="form-control" ng-model="receiver.title"></td>
                  <td><input type="time" class="form-control" ng-model="receiver.startTime"></td>
                  <td><input type="time" class="form-control" ng-model="receiver.endTime"></td>
                  <td><input type="number" class="form-control" ng-model="receiver.duration" min="0" max="60" required></td>
                  <td><input type="checkbox" ng-model="receiver.attendance"></td>

                </tr>

              </table>
              <button ng-click="saveTimetable()">Save</button>

            </div>

          </div>


      </div>
    </div>
  </div>

</div>
</div>




