<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Study Monitor Admin</title>
        <script src="/vendor/angular.min.js">      </script>
        <script src="/vendor/angular-resource.js"> </script>
        <script src="/vendor/angular-ui-router.js"></script>
      <script src="app.js">                  </script>
      <script src="/js/lb-services.js">          </script>
    </head>

    <body ng-app="app" style="background-color: #00A000">
    <center>
      <header style="font-family: 'Courier New';font-size: 50px;align-self: center">Admin Panel</header>
    </center>
    <center>
      <form class="form-control" ng-controller="formController" ng-submit="processForm()">
        <input type="email"   style="width: 500px;height: 30px" class="form-control" ng-model="formData.email" required><br><br>
        <input type="password"   style="width: 500px;height: 30px" class="form-control" ng-model="formData.password" required><br><br>
        <input type="submit" class="btn btn-default uppercase" ng-model="formData.password" required>
      </form>

    </center>

    </body>
</html>
