
<!------------------------------------------------------------------- BEGIN CONTAINER------------------------------------------------>
<div class="container">
  <!------------------------------------------------------------------- BEGIN ROW MARGIN-------------------------------------------->
  <div class="row margin-top-10">
    <!------------------------------------------------------------------- BEGIN DIV-------------------------------------------------->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!------------------------------------------------------------------- BEGIN PORTLET-------------------------------------------->
      <div class="portlet light" style="height: 462px">
          <div class="portlet-title">
		        <div class="caption caption-md">MARKS</div>
					<div class="caption caption-md pull-right">
						<button ng-show="Admin" class="btn btn-primary" <a ui-sref="maxMarks">SET MAX MARKS</a></button>
						<button ng-show="Admin" class="btn btn-primary" <a ui-sref="generateMarks">GENERATE MARKS</a></button>
						<!--<button ng-show="Admin" class="btn btn-primary" <a ui-sref="viewMarks">VIEW MARKS</a></button>-->
					</div>
					</div>
        <!------------------------portlet-body-------------------------------------->
        <div class="portlet-body">
          <div class="row list-separated">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!------------------------Message Block-------------------------------------->
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-show="error"  class="alert alert-danger">{{response}}</div>
                    <div ng-show="success" class="alert alert-success">{{response}}</div>
                </div>
            </div>    
                <!------------------------Message Block-------------------------------------->
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 
                <!------------------------Create VIEW-------------------------------------->
                	
                                                    
                    <div class="panel-body">
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="height:260px;overflow-y:auto;" ng-hide="Student">
									Max Marks :{{formData.maxMarks}}
								<table class="table table-bordered table-striped table-condensed flip-content">
									<thead flip-content>
										<tr>
										<th><a ng-click="sortType = ''; sortReverse = !sortReverse">Student Name</a></th>
                                    	<th><a ng-click="sortType = ''; sortReverse = !sortReverse">RollNo</a></th>
                                    	<th><a ng-click="sortType = ''; sortReverse = !sortReverse">Enter Marks</a></th>
                                    	<th><a ng-click="sortType = ''; sortReverse = !sortReverse">Percentage(%)</a></th>
										<!--<th ng-show="Admin">Option</th>-->
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="x in list1.students track by $index">
											<div data-ng-bind-html="x.id">
												<td> {{x.firstName}} 																  </td>
												<td> {{x.rollNo}}  																	  </td>
												<td><input type="number" ng-model= x.marks[0].marksObtained></td>
												<td>  {{ x.marks[0].marksObtained * 100 / formData.maxMarks }}</td>
												<td><i class="fa fa-floppy-o" ng-click ="saveMarks(x)"></i></td>
											</div>
										</tr>
                                    </tbody>
								</table>
                                 <!----------------------------------Page Nation-------------------------------------------->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
                                    <div class="pull-left"> Total Results: {{examList.length}}</div>
                                        <div class="pull-right"> 
                                        <button ng-disabled="currentPage == 0" class="pgr"  ng-click="currentPage=currentPage-1">Previous</button>{{currentPage+1}}/{{numberOfPages()}}
                                        <button ng-disabled="currentPage >= list.length/pageSize-1" class="pgr" ng-click="currentPage=currentPage+1">Next</button>
                                      </div>
                                  </div>          
                 <!----------------------------------Page Nation-------------------------------------------->  
                                </div>
                    </div>
                <!--------------------------END VIEW------------------------------------>
                
            
        </div>
        <!------------------------END portlet-body-------------------------------------->
      </div>
      <!------------------------------------------------------------------- END PORTLET-------------------------------------------->
      

    </div>
    <!------------------------------------------------------------------- END DIV-------------------------------------------------->

  </div>
  <!------------------------------------------------------------------- END ROW MARGIN--------------------------------------------> 
</div>
<!------------------------------------------------------------------- END CONTAINER------------------------------------------------>

      
