<!-- -----------------------------------Edit Notice-------------------------------->
<script type="text/ng-template" id="editNotice">
  <div class="ngdialog-message">
    <h2>Edit Notice</h2><br>
    <form ng-submit="confirm(formData)">
        <input  type="text" class="form-control newTitle" placeholder="Title" ng-model="formData.title" ng-value="title"  ng-mouseup="tag1=true"  ng-mouseleave="tag1=false"     required><div class="tag1" ng-show="tag1">Enter Title</div><br>
        <textarea rows="4" cols="50" class="form-control" placeholder="Description of Notice" ng-value="description" ng-model="formData.description"   ng-mouseup="tag2=true"  ng-mouseleave="tag2=false"     required></textarea><div class="tag2" ng-show="tag2">Enter Description</div><br>
        <!--<input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date1" ng-value="date1"  ng-mouseup="tag3=true"  ng-mouseleave="tag3=false"     required><div class="tag3" ng-show="tag3">Enter From Date</div><br>-->
        <input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date1"  ng-mouseup="tag3=true"  ng-mouseleave="tag3=false"     required><div class="tag3" ng-show="tag3">Enter From Date</div><br>
        <!--<input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date2" ng-value="date2"   ng-mouseup="tag4=true"  ng-mouseleave="tag4=false"     required><div class="tag4" ng-show="tag4">Enter To Date</div><br>-->
        <input  type="date"  max="9999-12-31" max="0001-01-01" class="form-control"  ng-model="formData.date2"  ng-mouseup="tag4=true"  ng-mouseleave="tag4=false"     required><div class="tag4" ng-show="tag4">Enter To Date</div><br>
        <!--<input type = "file" file-model = "myFile" class="form-control" ng-model="formData.uploadFile"><br>-->
        <button type="submit" class="btn btn-success uppercase">Save</button>
        <button type="button" class="btn btn-success uppercase" ng-click=closeThisDialog("Cancel")>Cancel</button>
    </form>
  </div>
</script>
<!-- -----------------------------------EDIT Notice-------------------------------->

<!-- -----------------------------------Delete Notice-------------------------------->
<script type="text/ng-template" id="deleteNotice">
  <div class="ngdialog-message">
    <h1>Confirm Delete</h1><br>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('Yes')">Yes</button>
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">No</button>
    </div>
  </div>
</script>
<!-- -----------------------------------Delete Notice-------------------------------->

<!-- -----------------------------------Main View-------------------------------->


<div class="container">
<div class="row margin-top-10">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- BEGIN PORTLET-->

    <div class="portlet light"  style="height: 462px">
      <div class="portlet-title">
        <div class="caption caption-md">NOTICEBOARD</div>
           <button ng-show="Admin" class="btn btn-primary uppercase pull-right" <a ui-sref="addNoticeboard">ADD NOTICE</a></button>
                <!--<div class="caption caption-md col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <span class="uppercase pull-left">NOTICEBOARD</span>
                          <span class="caption-subject uppercase col-sm-6"></span>
                          <span class="btn btn-primary pull-right" ng-show="Admin" <a ui-sref="addNoticeboard"> Add Notice</a></span>
                </div>-->
      </div>

      <!-- -----------------------------------Search Form-------------------------------->
      <div class="portlet-body" ng-show="!showForm">
        <div class="row">

              

                <div>
                    <div ng-show="error"  class="alert alert-danger">{{response}}</div>
                    <div ng-show="success" class="alert alert-success">{{response}}</div>
                </div>
                <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <form>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"style="min-height:50px">
                        <input  type="text" class="form-control" placeholder="Title" ng-model="search.title"  required><br>
                        <input  type="text" class="form-control" placeholder="Description" ng-model="search.description"  required><br>
                    </div>
                  </form>

       <!-- -----------------------------------Search Form-------------------------------->
       <!-- -----------------------------------Table-------------------------------->

                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"  style="height:260px;overflow-y:auto;">

                              <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead flip-content>
                                  <tr>
                                    <th>SL.No</th>
                                    
                                    
                                    <th><a href="javascript:void(0)" ng-click="sortType = 'title'; toggleSort(0);sortReverse = !sortReverse">Title<i class="fa fa-arrow-down sort" ng-show="!sort[0].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[0].sortReverse" aria-hidden="true"></i></a></th>
                                    <th><a href="javascript:void(0)" ng-click="sortType = 'description'; toggleSort(1);sortReverse = !sortReverse">Description<i class="fa fa-arrow-down sort" ng-show="!sort[1].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[1].sortReverse" aria-hidden="true"></i></a></th>
                                    <th><a href="javascript:void(0)" ng-click="sortType = 'date1'; toggleSort(2);sortReverse = !sortReverse">From<i class="fa fa-arrow-down sort" ng-show="!sort[2].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[2].sortReverse" aria-hidden="true"></i></a></th>
                                    <th><a href="javascript:void(0)" ng-click="sortType = 'date2'; toggleSort(3);sortReverse = !sortReverse">To<i class="fa fa-arrow-down sort" ng-show="!sort[3].sortReverse" aria-hidden="true"></i><i class="fa fa-arrow-up sort"  ng-show="sort[3].sortReverse" aria-hidden="true"></i></a></th>
                                    <!--<th>Attachment</th>-->
                                    <th ng-show="Admin">Option</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr data-ng-repeat="x in filtered=( noticeList | filter:search) |orderBy:sortType:sortReverse | startFrom : currentPage*pageSize | limitTo:pageSize">
                                    <div data-ng-bind-html="x.id">
                                      <td>{{$index+1}}</td>
                                      <td>{{x.title}}</td>
                                      <td>{{x.description}}</td>
                                      <td>{{x.date1 | date:'MM/dd/yyyy'}}</td>
                                      <td>{{x.date2 | date:'MM/dd/yyyy'}} </td>
                                      <!--<td style="width: 20%"><a href="{{x.uploadFile}}" target="_blank"/>Download</td>-->
                                      <td ng-show="Admin" class="actions">{{x.option}}
                                        <i class="fa fa-pencil-square-o" ng-click="editNotice(x)"></i>
                                        <i class="fa fa-trash-o"  ng-click="deleteNotice(x)"></i>
                                      </td>
                                    </div>
                                  </tr>
                                </tbody>
                              </table>
       <!-- -----------------------------------Table -------------------------------->



      <!----------------------------------Page Nation-------------------------------------------->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel-footer">
           <div class="pull-left pagi-nation"> Total Results: {{noticeList.length}}||Filtered Results :{{ filtered.length}}</div>
              <div class="pull-right">
              <button ng-disabled="currentPage == 0" class="pgr"  ng-click="currentPage=currentPage-1"> Previous </button>{{currentPage+1}} / {{numberOfPages()}}
              <button ng-disabled="currentPage >= filtered.length/pageSize-1" class="pgr" ng-click="currentPage=currentPage+1"> Next </button>
            </div>
        </div>
      <!----------------------------------Page Nation-------------------------------------------->
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
<!-- -----------------------------------Main view-------------------------------->




